.bigTitle{
    color: #749FBA;
    font-weight: 550;
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.subTitle{
    color: #749FBA;
    font-weight: 550;
    font-size: 15px;
    margin-bottom: 5px;
}

.content{
    width: 100%;
    height: 100vh;
    background: black url(/images/background.png) center center;
    background-size: cover;

    .contentBottom{
        padding: 10px 20px 10px 20px;
        height: calc(100vh - 120px);
        box-sizing: border-box;
        position: relative;

        .contentBottomLeft{
            width: 28.3%;
            height: 100%;
            position: absolute;
            left: 10px;
            z-index: 100;
            display: grid;
            grid-template-rows: calc(20% - 12.5px) calc(20% - 12.5px) calc(30% - 12.5px) calc(30% - 12.5px);
            grid-gap: 10px;
        }

        .contentBottomCenterTop{
            width: calc(43.4% - 40px);
            height: 100px;
            position: absolute;
            top: 10px;
            left: 50%;
            transform: translateX(-50%);
            z-index: 200;
        }
        .contentBottomCenterBottom{
            width: calc(43.4% - 40px);
            height: 20%;
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            z-index: 200;
        }

        .contentBottomRight{
            width: 28.3%;
            height: 100%;
            position: absolute;
            z-index: 100;
            right: 10px;
            display: grid;
            grid-template-rows: calc(15% - 12px) calc(15% - 12px) calc(20% - 12px) calc(20% - 12px) calc(30% - 12px);
            grid-gap: 10px;
            
        }

        .contentBottomMap{
            width: 100%;
            height: calc(100% - 40px);
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            top: 40px;
        }
    }
}