.amap-logo{
    display: none;
}
.container{
    width: 100%;
    height: 1000px;

    :global{
        .amap-logo{
            display: none !important;
        }
        .amap-copyright{
            display: none !important;

        }
    }
}