.index {
    width: 100%;
    height: calc(100% - 16px);
    background: rgba(7, 72, 119, 0.5);
    border: 1px solid #39587d;
    box-sizing: border-box;
    margin-top: 16px;
    .title {
        height: 48px;
        color: #fff;
        .left {
            display: flex;
            align-items: center;
            padding: 10px;
            box-sizing: border-box;
            width: 300px;
          
            .arrow {
                margin-right: 8px;
            }
        }
    }
}
