.index {
    width: 100%;
    height: calc(100% - 16px);
    background: rgba(7, 72, 119, 0.5);
    //border: 1px solid #39587d;
    box-sizing: border-box;
    margin-top: 16px;
    background: url("../images/告警列表底框.svg");
    background-size: 100% 100%;
    .title {
        height: 48px;
        color: #fff;
      
        // .left { 
        //     display: flex;
        //     align-items: center;
        //     padding: 10px;
        //     box-sizing: border-box;
        //     width: 300px;
        //     background: linear-gradient(270deg, rgba(11, 56, 88, 0) 0%, #0079a9 100%);
        //     .arrow {
        //         margin-right: 8px;
        //     }
        // }
    }
}
