.infoWindow {
    .header {
        display: flex;
        align-items: center;
        padding: 8px 0 8px;
        background-color: #154b72;
        background: linear-gradient(to right, #154b72 0%, transparent 120%);
        border-radius: 5px;
    }
    .row {
        width: 0;
        height: 0;
        border-top: 6px solid transparent;
        border-left: 7px solid #49a2f8;
        border-bottom: 6px solid transparent;
        margin-right: 5px;
    }
    .plantName {
        font-size: 14px;
        color: #fff;
    }
}
