.content {
    width: 100%;
    height: 100%;
    .content {
        display: flex;
        align-items: center;
        padding: 8px 10px;
        background-color: #154b72;
        background: linear-gradient(to right, #154b72 0%, transparent 115%);
        border-radius: 5px;
        min-width: 100px;
        max-width: 150px;
    }
    
}
