.plantInfo {
    display: flex;
    align-items: center;
    padding: 8px 10px;
    background: linear-gradient(to right, #154b72 0%, transparent 120%);
    border-radius: 5px;
    min-width: 90px;
    max-width: 200px;
    box-shadow: 3px 3px 8px rgba(0, 234, 255, 0.25);
    
    .online{
        margin-right: 5px;
    }
    .plantName {
        font-size: 15px;
        color: #fff;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        font-family: DingTalkJinBuTi;
    }
}
