.content {
    display: flex;
    align-items: center;
    padding: 8px 10px;
    background: linear-gradient(to right, #154b72 0%, transparent 120%);
    background: linear-gradient(to right, #01ff231 0%, transparent 120%);
    border-radius: 5px;
    min-width: 90px;
   // max-width: 150px;
    .row {
        width: 0;
        height: 0;
        border-top: 6px solid transparent;
        border-left: 7px solid #49a2f8;
        border-bottom: 6px solid transparent;
        margin-right: 5px;
    }
    .plantName {
        font-size: 14px;
        color: #fff;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
     color: rgb(1, 255, 35);
        font-family: DingTalkJinBuTi;
    }
}
