.cardItem {
    border-radius: 8px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 17px;
    box-sizing: border-box;
    color: #ffffffc1;
    width: 500px;

    .cardItemRow1 {
        display: flex;

        .cardItemRow1Time {
            width: 300px;
        }
    }

    .cardItemRow2 {
        display: flex;
        align-items: center;
        margin: 25px 0;

        .cardItemRow2Label {
            margin-right: 30px;
        }

        .cardItemRow2Content {
            display: flex;
            flex-direction: column;
            align-items: start;
            gap: 10px;
        }
    }

    .cardItemRow3 {
        display: flex;
        .cardItemRow3Label {
            margin-right: 5px;
        }
    }
}