.container {
    height: 100vh;
    display: flex;
    gap: 8px;
    .left {
        flex: 1;
        background-color: red;
        height: 100%;
        
    }
    .right {
        flex: 3;
        background-color: aqua;
        height: 100%;
    }
}
