.container {
    height: 100vh;
    background-color: aqua;
    .left{
        width: 30%;
        background-color: red;
    }
    .right{
        width: 70%;
        background-color: aqua;
    }
}
