.container {
    height: ;
    display: grid;
    grid-template-columns: 1fr 1fr 0.6fr 1.4fr 1fr 1fr 1.4fr 0.6fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-auto-columns: 1fr;
    gap: 8px 8px;
    grid-auto-flow: row;
    grid-template-areas:
        "q q q map map map map r r r"
        "q q q map map map map r r r"
        "q q q map map map map r r r"
        "q q q map map map map f f f"
        "w w w map map map map f f f"
        "w w w map map map map h h h"
        "w w w map map map map h h h"
        "we we we info info info info info info info"
        "we we we info info info info info info info"
        "we we we info info info info info info info";
}

.q {
    grid-area: q;
    background-color: aqua;
}

.we {
    grid-area: we;
    background-color: aqua;
}

.w {
    grid-area: w;
    background-color: aqua;
}

.map {
    grid-area: map;
    background-color: aqua;
}

.info {
    grid-area: info;
    background-color: aqua;
}

.r {
    grid-area: r;
    background-color: aqua;
}

.f {
    grid-area: f;
    background-color: aqua;
}

.h {
    grid-area: h;
    background-color: aqua;
}
