.title{
    height: 40px;
    color: #fff;
    display: flex;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
    background: linear-gradient(270deg, rgba(11, 56, 88, 0) 0%, #0079a9 100%);
    background: url("@/assets/images/标题底框.svg") no-repeat;
    background-size: 100% 100%;
    img{
        width: 20px;
        margin-right: 10px;
    }
    span{
        color: white;
        font-family: DingTalkJinBuTi;
        font-size: 20px;
    }
}