.table{
    // height: 100%;
    // overflow: hidden;
    .tableHeader{
        display: flex;
        .tableHeaderTitle{
            flex: 1;
            text-align: center;
            font-size: 16px;
            padding: 8px;
            font-family: electronicFont;
        }
    }
    .tableOuterContent{
        overflow: hidden;
        .tableContent{
            font-size: 12px;
            position: relative;
            .tableContentRow{
                display: flex;
                background-image: url(/images/table_row.png);
                background-size: 100% 70%;
                background-repeat: no-repeat;
                .tableContentCol{
                    flex: 1;
                    padding: 15px 0 20px 0;
                    text-align: center;
                }
            }
            &::-webkit-scrollbar{
                display: none;
            }
        }
    }
}