.abnormal {
    padding: 10px;
    box-sizing: border-box;
}

.detailed {
    .search {
        flex-wrap: wrap;
        margin-bottom: 20px;
        margin-left: 10px;
    }

    .center{
        background: linear-gradient( 180deg, #02232E 0%, #0B3745 100%);
        padding: 20px;
        margin-bottom: 18px;
    }
}