.detailsWrap{
    width: 100%;
    height: 100%;
    .detailsTopData{
        width: 100%;
        padding: 20px 25px;
        border-radius: 8px;
        display: grid;
        grid-template-columns:1fr 1fr 1fr 1fr;
        .item{
            margin-bottom: 18px;
            .itemKeys{
                // font-family: PingFangSemiblod;
                margin-right: 5px;
            }
        }
       
    };
    .detailsBottomEcharts{
        width: 100%;
        height: 50%;
    }
}

.content{
    width: 100%;
    height: 100%;
}