.content {
    width: 100%;
    height: 100%;
    // min-height: 36.4583rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows:  3.6458rem   8.3333rem 1fr 1fr 1fr 1fr;
    grid-auto-columns: 1fr;
    gap: .5208rem .5208rem;
    grid-auto-flow: row;
    // grid-template-areas:
    //     "title title title title"
    //     "PcsData center center status"
    //     'PcsData center center Bms1'
    //     'TodayEntity center center Bms1'
    //     'TodayEntity center center Bms2'
    //     'TodayEntity center center Bms2';
    >div {
        border-radius: .8333rem;
    }
}

.title {
    grid-area: title;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    font-size: 1.875rem;
    .sn {
        position: absolute;
        bottom: .5208rem;
        right: 3%;
        font-size: 1.25rem;
        span {
            margin-right: .7813rem;
        }
    }
}

.PcsData {
    grid-area: PcsData;

    .pcsWrap {
        width: 100%;
        height: calc(100% - 0.8333rem);
        display: flex;
        border-radius: .8333rem;

        .pcsOne {

            .pcsOneTitle {
                height: 2.6042rem;
                line-height: 2.6042rem;
                display: flex;
                justify-content: space-around;
            }

            .pcsOneBody {
                height: calc(100% - 2.6042rem);
                display: flex;
                flex-direction: column;
                justify-content: space-around;

                .oneData {
                    display: flex;
                    justify-content: space-around;
                    .key{
                        font-size: 1.0417rem;
                    }
                    .value{
                        font-size: 1.0417rem;
                        text-align: center;
                        min-width: 4.1667rem;
                    }
                }
            }
        }
    }

}

.Bms1 {
    grid-area: Bms1;
    display: flex;
.bmsTitle{
    margin-bottom: .4167rem
}
    .valueOne {
        .left {
            min-width: 9.375rem;
            text-align: left;
            font-size: .7292rem;
            .key {
                min-width: 5.2083rem;
                text-align: left;
                line-height:  1.0417rem;

            }

            .value {
                text-align: left;
                width: 50%;
                font-size: 1.0417rem;
                font-family: DingTalkJinBuTi;

            }
        }

        .right {
            min-width: 5.2083rem;
            text-align: left;
            font-size: .7292rem;
            margin-right: 20%;

            .key{
                width:2.6042rem;
                // display: inline-block;
                text-align: left;
                line-height:  1.0417rem;
            }
            .value {
                text-align: left;

                width: 50%;
                font-size: 1.0417rem;
                font-family: DingTalkJinBuTi;
    
            }
        }
    }


}

.Bms2 {
    grid-area: Bms2;
    .bmsTitle{
        margin-bottom: .4167rem

        // text-align: right;
    }
    .valueOne {
        .left {
            min-width: 9.375rem;
            text-align: left;
            font-size: .7292rem;

            .key {
                min-width: 5.2083rem;
                text-align: left;
                line-height:  1.0417rem;

            }

            .value {
                text-align: left;
                width: 50%;
                font-size: 1.0417rem;
                font-family: DingTalkJinBuTi;

            }
        }

        .right {
            min-width: 5.2083rem;
            text-align: left;
            font-size: .7292rem;
            margin-right: 20%;

            .key{
                width:2.6042rem;
                // display: inline-block;
                text-align: left;
                line-height:  1.0417rem;
            }
            .value {
                text-align: left;
                width: 50%;
                font-size: 1.0417rem;
                font-family: DingTalkJinBuTi;
    
            }
        }
    }
}

.TodayEntity {
    grid-area: TodayEntity;

    .entityWrap {
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;

        .oneCard {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .label {
                padding-left: .7813rem;
                // background: no-repeat left url('../../../../../../assets/svg/leftDes.svg');
                font-size: .7292rem;

            }

            .value {
                font-family: DingTalkJinBuTi;
            }
        }
    }
}



.status {
    grid-area: status;

    .statusWrap {
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: calc(100% - 0.8333rem);
        padding-top: 1.1458rem;


        .statusOne {
            display: flex;
            justify-content: space-around;
            // background-color: rgba(33, 42, 82, 1);
            width: 30%;
            height: 40%;
            border-radius: .2083rem;
            .title {
                font-size: .8333rem!important;
            }
    
            .value {
                font-size: .8333rem  !important;
    
            }

        }
    }
}

.bmsContent {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .bmsOne {
        padding: .4167rem 1.0417rem;
        width: 100%;
        height: calc(100% - 0.8333rem);
        .bmsTitle {
            width: 100%;
            font-size: 1.0417rem;
            img {
                margin-right: .2604rem;
            }
        }

        .bmsBody {
            display: flex;
            justify-content: space-around;
            align-items: center;
            height: calc(100% - 30px);
            font-size: .9375rem;
            img {
                height: 20%;
                min-height: 40px;
            }

            .value {
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: space-around;
                flex-direction: column;

                .valueOne {
                    width: 100%;
                    display: flex;

                    div {
                        width: 100%;
                        display: flex;
                        justify-content: space-around;
                    }
                }
            }
        }
    }
}

.center {
    grid-area: center;
    padding: 1.0417rem 1.5625rem;
    display: grid;
    grid-template-rows: 5.2083rem 1fr;

    .topData {
        display: flex;

        .topOne {
            width: 25%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            padding-top: .7813rem;
            font-size: .8333rem;

            .bottomDes {
                width: '100%';
                height: 0.834rem;
                // background: no-repeat center url('../../../../../../assets/svg/bottomDes.svg')
            }

            .label{
                text-align: center;
                font-size: .7292rem;
               }
               .value{
                font-size: 1.4583rem;
                text-align: center;
                font-family: DingTalkJinBuTi;
               }
        }
    }

    .bottomPic {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 2.6042rem;
        img {
            height: 23.4375rem;
        }
    }
}

