@keyframes scaless {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    100% {
        transform: scale(1.5);
        opacity: 0;
    }
}

.marker{
    width: 20px;
    height: 20px;
    background-color: red;
}