@keyframes scaless {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    100% {
        transform: scale(1.5);
        opacity: 0;
    }
}
#_map {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.amap-marker {
    .amap-marker-content {
        position: relative;
        
    }
}