.editTable{
    :global{
        .ant-table-cell{
            text-align: center;
        }
        .ant-table-wrapper .ant-table-thead > tr > th{
            text-align: center;
        }
        .ant-select-selector{
            text-align: left;
        }
    }
}