.content {
    height: calc(100% - 50px);
    overflow: scroll;
    &::-webkit-scrollbar {
        display: none;
    }
}

.deviceDetail{
    :global{
        .ant-tabs-tab{
            font-size: 20px !important;
        }
        .ant-tabs-tab-active{
            background: transparent !important;
        }

        .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn{
            color: #01C8FF !important;
        }

        .ant-tabs .ant-tabs-ink-bar{
            background: #01C8FF !important;
        }
    }
}