.content {
    height: calc(100% - 50px);
    overflow: scroll;
    &::-webkit-scrollbar {
        display: none;
    }
}

.deviceDetail{
    :global{
        .ant-tabs-tab{
            font-size: 20px !important;
        }
    }
}