.content{
    :global{
        .ant-radio-button-checked{
            background: linear-gradient(90deg, #0787DB 0%, #034FB4 100%);    
        }
        .ant-radio-button-wrapper-in-form-item:first-child{
            border-top-left-radius: 8px;
            border-bottom-left-radius: 8px;
            overflow: hidden;
        }
        .ant-radio-button-wrapper-in-form-item:last-child{
            border-top-right-radius: 8px;
            border-bottom-right-radius: 8px;
            overflow: hidden;
        }
        .ant-radio-button-wrapper-checked{
            color: white !important;
        }
        .ant-radio-button-wrapper{
            border-color: #197AD8;
            position: relative;
            top: 3px;
        }
        .ant-table-cell{
            text-align: center;
        }
        .ant-table-wrapper .ant-table-thead > tr > th{
            text-align: center;
        }

        .ant-table-body{
            overflow-y: scroll;
        }
    }
}