.areaContentData {
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: -20px;
    .areaContentDataItem {
        display: flex;
        align-items: flex-end;
        // margin: 0 20px;
        &:first-child {
            margin-right: 10px;
        }
        .areaContentDataItemData {
            position: relative;
            top: 2px;
            .areaContentDataItemData1 {
                font-size: 20px;
                font-family: DingTalkJinBuTi;
                color: #54cfff;
                margin: 0 0 0 10px;
                margin-right: 5px;
            }
            .areaContentDataItemData2 {
                font-size: 15px;
                color: white;
            }
        }
    }
}
.areaLeftContent {
    display: flex;
    flex-direction: column;

    .top {
        width: 100%;
        height: calc(50% - 5px);
    }
    .bottom {
        width: 100%;
        height: calc(50% - 5px);
    }

    .chart {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        gap: 25px;
        height: calc(75%);
    }
    .data {
        width: 250px;
        background: transparent url(/images/dataBg.svg) no-repeat;
        background-size: 100% 100%;
        height: 60px;
        line-height: 40px;
        padding-left: 20px;
        display: flex;

        &::before {
            content: "";
            width: 8px;
            height: 8px;
            border-radius: 8px;
            background-color: #54d1ff;
            margin-top: 17px;
            margin-right: 10px;
        }

        .label {
            color: white;
            white-space: nowrap;
            display: inline-block;
            font-size: 15px;
        }

        .value {
            color: #54cfff;
            font-size: 20px;
            font-family: DingTalkJinBuTi;
            margin-left: 5px;
            word-wrap: break-word;
            display: inline-block;
            white-space: nowrap;
        }
    }
}

@media (max-width: 1800px) {
    :global {
        .ant-badge-status-text {
            font-size: 12px !important;
        }
    }
    .areaContentData {
        flex-direction: column;
        top: 0 !important;
    }
    .areaContentDataItemData2 {
        font-size: 12px !important;
    }
}

@media (min-width: 1800px) {
    :global {
        .ant-badge-status-text {
            font-size: 13px !important;
        }
    }
    .areaContentDataItemData1 {
        font-size: 25px !important;
    }
    .areaContentDataItemData2 {
        font-size: 15px !important;
    }
}
