.contents {
    width: 100%;
    height:calc(100% - 20px) ;
    .title {
        display: flex;
        width: 100%;
        padding: 30px 30px;
        margin-bottom: 10px;
        position: relative;
        .level{
            margin-right: 30px;
        }
      .dataItem{
        position: absolute;
        right: 30px;

      }
    }

    .tablePart{
        padding: 30px 30px;
    }
}