.content{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    .contentBottomLeftTopContentLeftTop{
        padding-left: 20px;
        background: #212849;
        border-radius: 70px;
        height: 30%;
        display: flex;
        align-items: center;

        .contentBottomLeftTopContentLeftTopLeft{
            margin: 10px 0;
            height: 100%;
            display: flex;
            flex: 1;
            align-items: center;
            img{
                height: calc(100% - 25px);
                margin-right: 2px;
                max-height: 70px;
            }
            .contentBottomLeftTopContentLeftTopLeftContent{
                display: flex;
                flex-direction: column;
                .contentBottomLeftTopContentLeftTopLeftContentTop{
                    display: flex;
                    align-items: baseline;
                    .contentBottomLeftTopContentLeftTopLeftContentTopData{
                        color: #16F3A2;
                        font-weight: 600;
                        margin-right: 2px;
                        font-size: 35px;
                    }
                    @media screen and (min-width: 2000px){
                        .contentBottomLeftTopContentLeftTopLeftContentTopData{
                            font-size: 30px;
                        }
                    }
                    @media screen and (min-width: 1000px) and (max-width: 2000px){
                        .contentBottomLeftTopContentLeftTopLeftContentTopData{
                            font-size: 20px;
                        }
                    }
                    @media screen and (max-width: 1000px){
                        .contentBottomLeftTopContentLeftTopLeftContentTopData{
                            font-size: 10px;
                        }
                    }
                    .contentBottomLeftTopContentLeftTopLeftContentTopUnit{
                        color: white;
                    }
                    @media screen and (min-width: 2000px){
                        .contentBottomLeftTopContentLeftTopLeftContentTopUnit{
                            font-size: 15px;
                        }
                    }
                    @media screen and (min-width: 1000px) and (max-width: 2000px){
                        .contentBottomLeftTopContentLeftTopLeftContentTopUnit{
                            font-size: 12px;
                        }
                    }
                    @media screen and (max-width: 1000px){
                        .contentBottomLeftTopContentLeftTopLeftContentTopUnit{
                            font-size: 9px;
                        }
                    }
                }
                .contentBottomLeftTopContentLeftTopLeftContentBottom{
                    color: white;
                    white-space: nowrap;
                }
                @media screen and (min-width: 2000px){
                    .contentBottomLeftTopContentLeftTopLeftContentBottom{
                        font-size: 18px;
                    }
                }
                @media screen and (min-width: 1000px) and (max-width: 2000px){
                    .contentBottomLeftTopContentLeftTopLeftContentBottom{
                        font-size: 15px;
                    }
                }
                @media screen and (max-width: 1000px){
                    .contentBottomLeftTopContentLeftTopLeftContentBottom{
                        font-size: 12px;
                    }
                }
            }
            
        }
        .contentBottomLeftTopContentLeftTopRight{
            margin: 10px 0px;
            height: 100%;
            display: flex;
            flex: 1;
            align-items: center;
            img{
                height: calc(100% - 25px);
                margin-right: 2px;
                max-height: 70px;
            }
            .contentBottomLeftTopContentLeftTopRightContent{
                display: flex;
                flex-direction: column;
                .contentBottomLeftTopContentLeftTopRightContentTop{
                    display: flex;
                    align-items: baseline;
                    .contentBottomLeftTopContentLeftTopRightContentTopData{
                        color: #CBBF2F;
                        font-weight: 600;
                        margin-right: 2px;
                    }
                    @media screen and (min-width: 2000px){
                        .contentBottomLeftTopContentLeftTopRightContentTopData{
                            font-size: 30px;
                        }
                    }
                    @media screen and (min-width: 1000px) and (max-width: 2000px){
                        .contentBottomLeftTopContentLeftTopRightContentTopData{
                            font-size: 20px;
                        }
                    }
                    @media screen and (max-width: 1000px){
                        .contentBottomLeftTopContentLeftTopRightContentTopData{
                            font-size: 10px;
                        }
                    }
                    .contentBottomLeftTopContentLeftTopRightContentTopUnit{
                        color: white;
                    }
                    @media screen and (min-width: 2000px){
                        .contentBottomLeftTopContentLeftTopRightContentTopUnit{
                            font-size: 15px;
                        }
                    }
                    @media screen and (min-width: 1000px) and (max-width: 2000px){
                        .contentBottomLeftTopContentLeftTopRightContentTopUnit{
                            font-size: 12px;
                        }
                    }
                    @media screen and (max-width: 1000px){
                        .contentBottomLeftTopContentLeftTopRightContentTopUnit{
                            font-size: 9px;
                        }
                    }
                }
                .contentBottomLeftTopContentLeftTopRightContentBottom{
                    color: white;
                    white-space: nowrap;
                }
                @media screen and (min-width: 2000px){
                    .contentBottomLeftTopContentLeftTopRightContentBottom{
                        font-size: 18px;
                    }
                }
                @media screen and (min-width: 1000px) and (max-width: 2000px){
                    .contentBottomLeftTopContentLeftTopRightContentBottom{
                        font-size: 15px;
                    }
                }
                @media screen and (max-width: 1000px){
                    .contentBottomLeftTopContentLeftTopRightContentBottom{
                        font-size: 12px;
                    }
                }
            }
        }
    }
    .contentBottomLeftTopContentLeftBottom{
        padding-left: 20px;
        background: #212849;
        border-radius: 70px;
        height: 30%;
        display: flex;
        align-items: center;
        .contentBottomLeftTopContentLeftBottomLeft{
            margin: 10px 0;
            height: 100%;
            display: flex;
            align-items: center;
            flex: 1;
            img{
                height: calc(100% - 25px);
                margin-right: 2px;
                max-height: 70px;
            }
            .contentBottomLeftTopContentLeftBottomLeftContent{
                display: flex;
                flex-direction: column;
                .contentBottomLeftTopContentLeftBottomLeftContentTop{
                    display: flex;
                    align-items: baseline;
                    .contentBottomLeftTopContentLeftBottomLeftContentTopData{
                        color: white;
                        font-weight: 600;
                        margin-right: 2px;
                    }
                    @media screen and (min-width: 2000px){
                        .contentBottomLeftTopContentLeftBottomLeftContentTopData{
                            font-size: 30px;
                        }
                    }
                    @media screen and (min-width: 1000px) and (max-width: 2000px){
                        .contentBottomLeftTopContentLeftBottomLeftContentTopData{
                            font-size: 20px;
                        }
                    }
                    @media screen and (max-width: 1000px){
                        .contentBottomLeftTopContentLeftBottomLeftContentTopData{
                            font-size: 10px;
                        }
                    }
                    .contentBottomLeftTopContentLeftBottomLeftContentTopUnit{
                        color: white;
                    }
                    @media screen and (min-width: 2000px){
                        .contentBottomLeftTopContentLeftBottomLeftContentTopUnit{
                            font-size: 15px;
                        }
                    }
                    @media screen and (min-width: 1000px) and (max-width: 2000px){
                        .contentBottomLeftTopContentLeftBottomLeftContentTopUnit{
                            font-size: 12px;
                        }
                    }
                    @media screen and (max-width: 1000px){
                        .contentBottomLeftTopContentLeftBottomLeftContentTopUnit{
                            font-size: 5px;
                        }
                    }
                }
                .contentBottomLeftTopContentLeftTopLeftContentBottom{
                    color: white;
                    white-space: nowrap;
                }
                @media screen and (min-width: 2000px){
                    .contentBottomLeftTopContentLeftTopLeftContentBottom{
                        font-size: 18px;
                    }
                }
                @media screen and (min-width: 1000px) and (max-width: 2000px){
                    .contentBottomLeftTopContentLeftTopLeftContentBottom{
                        font-size: 15px;
                    }
                }
                @media screen and (max-width: 1000px){
                    .contentBottomLeftTopContentLeftTopLeftContentBottom{
                        font-size: 12px;
                    }
                }
            }
        }
        .contentBottomLeftBottomContentLeftTopRight{
            margin: 10px 0px;
            height: 100%;
            display: flex;
            flex: 1;
            align-items: center;
            img{
                height: calc(100% - 25px);
                margin-right: 2px;
                max-height: 70px;
            }
            .contentBottomLeftBottomContentLeftTopRightContent{
                display: flex;
                flex-direction: column;
                .contentBottomLeftBottomContentLeftTopRightContentTop{
                    display: flex;
                    align-items: baseline;
                    .contentBottomLeftBottomContentLeftTopRightContentTopData{
                        color: white;
                        font-weight: 600;
                        margin-right: 2px;
                    }
                    @media screen and (min-width: 2000px){
                        .contentBottomLeftBottomContentLeftTopRightContentTopData{
                            font-size: 30px;
                        }
                    }
                    @media screen and (min-width: 1000px) and (max-width: 2000px){
                        .contentBottomLeftBottomContentLeftTopRightContentTopData{
                            font-size: 20px;
                        }
                    }
                    @media screen and (max-width: 1000px){
                        .contentBottomLeftBottomContentLeftTopRightContentTopData{
                            font-size: 10px;
                        }
                    }
                    .contentBottomLeftBottomContentLeftTopRightContentTopUnit{
                        color: white;
                    }
                    @media screen and (min-width: 2000px){
                        .contentBottomLeftBottomContentLeftTopRightContentTopUnit{
                            font-size: 15px;
                        }
                    }
                    @media screen and (min-width: 1000px) and (max-width: 2000px){
                        .contentBottomLeftBottomContentLeftTopRightContentTopUnit{
                            font-size: 12px;
                        }
                    }
                    @media screen and (max-width: 1000px){
                        .contentBottomLeftBottomContentLeftTopRightContentTopUnit{
                            font-size: 9px;
                        }
                    }
                }
                .contentBottomLeftBottomContentLeftTopRightContentBottom{
                    color: white;
                    white-space: nowrap;
                }
                @media screen and (min-width: 2000px){
                    .contentBottomLeftBottomContentLeftTopRightContentBottom{
                        font-size: 18px;
                    }
                }
                @media screen and (min-width: 1000px) and (max-width: 2000px){
                    .contentBottomLeftBottomContentLeftTopRightContentBottom{
                        font-size: 15px;
                    }
                }
                @media screen and (max-width: 1000px){
                    .contentBottomLeftBottomContentLeftTopRightContentBottom{
                        font-size: 12px;
                    }
                }
            }
            
        }
    }
}