.content{
    width: 100%;
    height: calc(100% - 40px);
    .heard{
        width: 100%;
        height: 68px;
        padding: 15px 20px;
        display: flex;
        justify-content: center; /* 水平居中 */

        .buttons{
            margin-left: 50px;
            .firstButton{
                margin-right: 32px;
            }
        }
    }
    .profitWrap{
        height: calc(50% - 45px);
        width: 100%;
        margin-bottom: 10px;
        display: flex;
        .profitStaus{
            width: 100%;
            height: 100%;
            display: flex;
           
        }
      
    }
  
}

