.content{
    display: flex;
    justify-content: space-between;
    height: 300px;
    margin-bottom: 20px;
    .contentLeft{
        width: calc(40% - 10px);
        .contentLeftItem{
            display: flex;
            .contentLeftItemRight{
                margin-left: 10px;
            }
        }
    }
    .contentRight{
        width: calc(60% - 10px);
        .contentRightChart{
            width: 100%;
            height: 215px;
        }
    }
}