.content{
    background-color: #000000;
    width: calc(100%);
    height: calc(100%);
    position: absolute;
    top: 0px;
    left: 0px;
    display: flex;
    gap: 8px;

    .left{
        width: calc(70% - 4px);
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 8px;

        .plantSelect{
            position: absolute;
            top: 10px;
            left: 10px;
            :global{
                .ant-select-selector{
                    border: 1px solid #00FFFB;
                }
            }
        }

        .leftItem1{
            height: calc(80% - 4px);

            .mapRight{
                height: calc(75% - 5px);
                position: absolute;
                right: 0;
                top: 0;
                display: flex;
                flex-direction: column;
                gap: 10px;

                .mapRightItem{
                    width: 250px;
                    background-color: #111838;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: calc(33.333333333333%);
                    border-radius: 8px;
                    .mapRightItemTop{
                        display: flex;
                        align-items: baseline;
                        .mapRightItemTopValue{
                            max-width: 150px;
                            font-family: DingTalkJinBuTi;
                            font-size: 30px;
                            margin-bottom: 10px;
                            white-space: nowrap; 
                            overflow: hidden;
                            text-overflow: ellipsis;
                        }
                    }

                    .mapRightItemBottom{
                        text-align: center;
                    }
                }
            }

            .mapBottom{
                width: 100%;
                height: calc(25% - 5px);
                position: absolute;
                bottom: 0;
                left: 0;
                display: flex;
                justify-content: space-between;
                .mapBottomItem{
                    width: calc(33% - 5px);
                    height: 100%;
                    background-color: #0B3858;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    border-radius: 8px;

                    .mapBottomItemData{
                        font-family: DingTalkJinBuTi;
                        font-size: 30px;
                        margin-bottom: 10px;
                    }
                }
            }
        }

        .leftItem2{
            height: calc(35% - 4px);
            position: relative;
            .add{
                display: flex;
                position: absolute;
                gap: 10px;
                right: 10px;
                top: 5px;
                .addBtn{
                    background: radial-gradient(153% 66% at 50% 50%, #072F4C 0%, #04719C 100%);
                    border-radius: 2px;
                    border: 1px solid #54CFFF;
                    padding: 5px 20px;
                    box-sizing: border-box;
                    cursor: pointer;
                }
            }
        }
    }

    .leftItem{
        width: 100%;
        background: #111838;
        border: 1px solid #111838;
        position: relative;
    }

    .rightItem{
        width: 100%;
        background: #111838;
        border: 1px solid #111838;
    }

    .right{
        width: calc(30% - 4px);
        height: 100%;
        display: flex;
        flex-direction: column;
        
        gap: 8px;

        .rightItem1{
            height: calc(20% - 6px);
        }
        
        .rightItem2{
            height: calc(50% - 6px);
        }

        .rightItem3{
            height: calc(30% - 6px);
        }
    }

    .cardContent{
        padding: 10px;
        box-sizing: border-box;
        width: 100%;
        height: calc(100% - 40px);

    }
    .realEle{
        padding: 10px;
        box-sizing: border-box;
        width: 100%;
        height: calc(100% - 40px);
        display: grid;
        grid-template-columns: 1fr 1fr ;
        grid-template-rows: 1fr 1fr 1fr;
        .topItem{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            .topVaue{
                margin-bottom: 10px;
                font-size: 28px;
            }
        }
    }
}