.content {
    background-color: #000000;
    width: calc(100%);
    height: calc(100%);
    display: flex;
    gap: 8px;

    .left {
        flex: 2;
        display: flex;
        flex-direction: column;
        gap: 8px;
        width: 0;

        .left1 {
            flex: 4;
            display: flex;
            flex-direction: column;
            gap: 4px;

            .left1Content {
                flex: 1;
                display: flex;
                flex-wrap: wrap;
                gap: 8px;
                align-items: center;
                justify-content: center;
                text-align: center;

                .topItem {
                    width: calc(50% - 4px);

                    .topVaue {
                        font-family: DingTalk;
                        display: flex;
                        align-items: baseline;
                        justify-content: center;

                        .topVaueContent {
                            font-size: 16px;
                            display: inline-block;
                            max-width: calc(100% - 20px);
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                        }
                    }

                    .topItemTitle {
                        width: 100%;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                }
            }
        }

        .left2 {
            flex: 3;
            display: flex;
            flex-direction: column;

            .cardContent {
                flex: 1;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }

        .left3 {
            flex: 3;
            display: flex;
            flex-direction: column;

            .cardContent {
                flex: 1;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    }

    .right {
        flex: 8;
        display: flex;
        flex-direction: column;
        gap: 8px;
        width: 0;

        .right1 {
            flex: 3.5;
            display: flex;
            flex-direction: column;

            .cardContent {
                flex: 1;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }

        .right2 {
            flex: 3.5;
            display: flex;
            flex-direction: column;

            .cardContent {
                flex: 1;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }

        .right3 {
            flex: 3;
            display: flex;
            flex-direction: column;
            position: relative;
            gap: 4px;
            height: 0;
            .add{
                position: absolute;
                top: 5px;
                right: 5px;;
            }
            .cardContent {
                height: calc(100% - 50px);
            }
        }
    }
}