.circle {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;

    @keyframes floating {
        0% {
            top: -8px;
            font-size: 20px;
        }
        50% {
            top: -20px;
            font-size: 25px;
        }
        100% {
            top: -8px;
            font-size: 20px;
        }
    }

    .font {
        color: white;
        font-size: 15px;
        text-align: center;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        white-space: nowrap;
    }
    .data1,
    .data2,
    .data3 {
        font-size: 20px;
        font-family: DingTalkJinBuTi;
        text-align: center;
        position: absolute;
        left: 50%;
        top: -8px;
        transform: translateX(-50%);
    }
    .data1 {
        animation: floating 2s ease-in-out infinite;
    }
    .data2 {
        animation: floating 1.5s ease-in-out infinite;
    }

    .data3 {
        animation: floating 2.5s ease-in-out infinite;
    }

    .ball1 {
        width: 25%;
        max-width: 120px;
        position: relative;
        img {
            width: 100%;
        }
    }

    .ball2 {
        width: 25%;
        max-width: 120px;
        position: relative;
        img {
            width: 100%;
        }
    }

    .ball3 {
        width: 25%;
        max-width: 120px;
        position: relative;
        img {
            width: 100%;
        }
    }
}

@media (min-width: 1800px) {
    .data1,
    .data2,
    .data3 {
        font-size: 30px !important;
    }
    @keyframes floating {
        0% {
            top: -8px;
            font-size: 30px!important;
        }
        50% {
            top: -20px;
            font-size: 25px!important;
        }
        100% {
            top: -8px;
            font-size: 30px!important;
        }
    }
}
