.circle {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;

    @keyframes floating {
        0% {
            transform: translateY(0);
            font-size: 30px;
        }
        50% {
            transform: translateY(-10px);
            font-size: 35px;
        }
        100% {
            transform: translateY(0);
            font-size: 30px;
        }
    }

    .font {
        color: white;
        font-size: 15px;
        text-align: center;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        white-space: nowrap;
    }
    .data1,
    .data2,
    .data3 {
        font-size: 35px;
        font-family: DingTalkJinBuTi;
        text-align: center;
        position: relative;
        top: 25px;
    }
    .data1 {
        animation: floating 2s ease-in-out infinite;
    }
    .data2 {
        animation: floating 1.5s ease-in-out infinite;
    }

    .data3 {
        animation: floating 2.5s ease-in-out infinite;
    }

    .ball1 {
        width: 25%;
        max-width: 120px;
        position: relative;
        img {
            width: 100%;
        }
    }

    .ball2 {
        width: 25%;
        max-width: 120px;
        position: relative;
        img {
            width: 100%;
        }
    }

    .ball3 {
        width: 25%;
        max-width: 120px;
        position: relative;
        img {
            width: 100%;
        }
    }
}
