@import "./foot.less";

body {
    margin: 0;
    padding: 0;
}

.ant-menu {
    background-color: unset;
}

.ant-menu-light.ant-menu-inline .ant-menu-sub.ant-menu-inline,
:where(.css-dev-only-do-not-override-1sn0ohr).ant-menu-light>.ant-menu.ant-menu-inline .ant-menu-sub.ant-menu-inline {
    background-color: unset;
}

.ant-btn-default:not(:disabled):not(.ant-btn-disabled):hover {
    color: unset;
}

.ant-menu-light:not(.ant-menu-horizontal) .ant-menu-item:not(.ant-menu-item-selected):hover {
    background-color: unset;
}

.ant-menu-title-content {
    margin-left: 7px;
    font-size: 16px;
}

.ant-menu-inline {
    border-inline-end: none !important;
}

.ant-card-body {
    padding: 16px !important;
}

.ant-card-bordered {
    border: none !important;
}

.ant-picker-outlined {
    background: none;
}

.ant-picker-outlined:focus-within {
    background: none !important;
}

.ant-picker {
    background: transparent !important;
}

.ant-input-outlined {
    background: none;

    &:focus-within,
    &:hover {
        background: none;
    }
}

.ant-select-selector {
    background: none !important;
}

.ant-checkbox-inner {
    background: none !important;
}

.ant-table-wrapper .ant-table {
    background: none !important;
}

.ant-input-number-outlined {
    background: none !important;
}

.ant-table-wrapper .ant-table-tbody>tr.ant-table-placeholder {
    background: none !important;
}

.ant-tree {
    background: none !important;
}

/* 整个滚动条 */
::-webkit-scrollbar {
    /* 对应纵向滚动条的宽度 */
    width: 10px;
    /* 对应横向滚动条的宽度 */
    height: 10px;
}

/* 滚动条上的滚动滑块 */
::-webkit-scrollbar-thumb {
    background-color: #c1bfbf;
    border-radius: 32px;
}

/* 滚动条轨道 */
::-webkit-scrollbar-track {
    background-color: white;
    border-radius: 32px;
}

.amap-marker-label {
    border: 0;
    background-color: transparent;
    line-height: normal;
}

.amap-logo {
    display: none !important; //去掉高德地图logo
}

.amap-copyright {
    opacity: 0; //去掉高德的版本号
}

.ant-picker {
    background: none;
}

.ant-input {
    background: none;
    color: #fff !important;
}

.ant-radio-wrapper .ant-radio-inner {
    background: none;
}

.ant-btn-default {
    background-color: unset;
}

.ant-table-wrapper .ant-table-thead>tr>th {
    background-color: #064253;
}

.ant-table-placeholder {
    display: none;
}

.ant-input-number {
    background-color: transparent !important;
}

.ant-form-item .ant-form-item-label>label {
    height: unset;
    white-space: pre-wrap;
}

.ant-form-item-row {
    align-items: center;
}

.ant-input-affix-wrapper {
    background-color: transparent;
    border-color: #235775;
}

.ant-descriptions .ant-descriptions-view {
    padding-left: 20px;
}

.ant-descriptions .ant-descriptions-title {
    font-size: 20px;
}

.ant-descriptions .ant-descriptions-item-label {
    color: white;
}

.layout_left_right{
 display: flex;
 fl
}