.resCapTable {
    .item {
        height: 60px;
        display: flex;
        &:first-child {
            border-left: 1px solid black;
            border-top: 1px solid black;
        }
        > div {
            flex: 1;
            display: flex;
            justify-content: center;
            align-items: center;
            border-right: 1px solid black;
            border-bottom: 1px solid black;
            &:first-child {
                border-left: 1px solid black;
                border-top: 1px solid black;
            }
        }
    }
}
