@borderStyle：1px solid rgba(0, 0, 0, 0.88)

.resCapTable {
    .item {
        height: 60px;
        display: flex;
        &:first-child {
            border-top: @borderStyle;
        }
        > div {
            flex: 1;
            display: flex;
            justify-content: center;
            align-items: center;
            border-right: @borderStyle;
            border-bottom: 1px solid rgba(0, 0, 0, 0.88);
            &:first-child {
                border-left: 1px solid rgba(0, 0, 0, 0.88);
            }
        }
    }
}
