.advancedAnalytics{
    width: 100%;
    height: calc(100% - 10px) ;
    overflow-y: scroll;
    // padding-bottom: 20px;
    padding-top: 30px;
    .searchHead{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 30px;
        padding-left: 20px;
        .margRL{
            margin: 0 40px 0 10px;
        }content
        .firstButton{
            margin: 0 20px;
        }
    }
    .echartPart{
        height: calc(100% - 70px);
        width:100%;
        padding: 0 50px;
        .echartPartCardwrap{
            height: 100%;

        }
    }  
}

.content{
    .contentItem{
        margin-bottom: 30px;
    }
}

.dataChoiceModal{
    :global{
        .ant-form-item .ant-form-item-control-input{
            min-height: unset;
        }
    }
}
.ant-modal-content{
    padding: 50px 60px !important;
}