.wrap {
    width: 100%;
    height: 100%;
    padding-bottom: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 8px 8px;
    grid-template-areas:
        "heard heard heard heard heard"
        "content content content content content"
        "content content content content content";

    .heard {
        grid-area: heard;
        width: 100%;
        height: 100%;

        .topContent {
            width: 100%;
            height: 100%;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
            grid-gap: 10px;
            margin-bottom: 8px;
            align-items: center;
            justify-items: center;

            .topItem {
                height: 80%;
                width: 100%;
                border-radius: 4px;
                // background: #FFFFFF;
                padding: 16px;

                .topItemTitle {
                    height: 24px;
                    line-height: 24px;
                }

                .topVaue {
                    height: calc(100% - 24px);
                    font-size: 36px;
                    font-weight: 500;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
            .pieItem{
                width: 100%;
                height: 80%;
                .pieItem_bottom{
                    text-align:center;
                    font-weight: 500;
                }
            }
        }
    }

    .content {
        grid-area: content;
        padding: 35px 30px;

        .title {
            display: flex;
            position: relative;
            width: 100%;
            margin-bottom: 35px;

            .date {
                margin: 0 35px;
            }
            .dataItem {
                width: calc(100%-210px);
            }

            .buttons {
                position: absolute;
                right: 0px;
            }

        }
    }
}