.markerWrapper {
    text-align: center;
    .positionPic {
        width: 20px;
        height: 20px;
        margin-top: 5px;
    }
}
.content,
.cloudContent {
    display: flex;
    align-items: center;
    border-radius: 5px;
    min-width: 90px;
    max-width: 300px;
    background-color: ; 
    .plantName {
        font-size: 15px;
        color: #fff;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        font-family: DingTalkJinBuTi;
    }
}
.cloudContent {
    padding: 8px 10px;
    box-shadow: 3px 3px 8px #00eaff40;
    background: linear-gradient(to right, #154b72 0%, transparent 120%);
    .row {
        width: 0;
        height: 0;
        border-top: 6px solid transparent;
        border-left: 7px solid #2ae5b1 !important;
        border-bottom: 6px solid transparent;
        margin-right: 5px;
    }
    .plantName {
        color: #2ae5b1 !important;
    }
}
.detail {
    width: 800px;
    background: #004764;
    border-radius: 16px;
    padding: 15px 20px;
    box-sizing: border-box;
    .header {
        height: 30px;
        color: #54cfff;
        font-size: 16px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 10px;
        box-sizing: border-box;
        &::before {
            content: "";
            width: 4px;
            height: 14px;
            background: #54cfff;
            border-radius: 2px;
            position: absolute;
            left: 22px;
        }
        .close {
            cursor: pointer;
        }
    }
    .infoContent {
        display: flex;
        width: 100%;
        font-size: 14px;
        > :first-child {
            border-right: 2px solid #195e8f;
            flex: 3;
            padding-right: 20px;
            box-sizing: border-box;
        }
        > :nth-child(2) {
            flex: 5;
            padding-left: 20px;
            box-sizing: border-box;
        }
        .item {
            padding: 5px 0;
            display: flex;
            .name {
                width: fit-content !important;
                padding-right: 20px;
                text-align: left;
                color: #bbdfff;
            }
            .value {
                text-align: right;
                flex: 1;
                width: 0;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                color: #fff;
            }
        }
    }
}

@media (max-width: 1800px) {
    .detail {
        width: 600px !important;
        padding: 10px 20px !important;
    }
    .infoContent {
        font-size: 10px !important;
    }
}
