.largeScreen {
  width: 100%;
  height: calc(100vh - 35px);
  min-width: 1270px;
  min-height: 875px;
  padding-bottom: 15px;
  padding-top: 20px;

  >div:nth-child(1) {
    //width: 100%;
    // margin-top: 20px;
    line-height: 96px;
    font-family: DingTalk, DingTalk;
    text-align: center;
    font-size: 32px;

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  >div:nth-child(2) {
    height: calc(100% - 110px);
  }

  .title_default {
    background-image: url("@/assets/svg/default/大标题浅色.svg");
    margin: 0 20px 10px 20px;
    position: relative;
  }

  .title_dark {
    background-image: url("@/assets/svg/dark/大标题深色.svg");
    margin: 0 20px 10px 20px;
    position: relative;

  }

  .container {
    margin: 0 20px 0px 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 8px 8px;
    grid-auto-flow: row;
    grid-template-areas:
      "real real real real history history history history history history history history history history history mv mv mv mv mv"
      "real real real real history history history history history history history history history history history mv mv mv mv mv"
      "real real real real history history history history history history history history history history history mv mv mv mv mv"
      "real real real real history history history history history history history history history history history mv mv mv mv mv"
      "real real real real history history history history history history history history history history history mv mv mv mv mv"
      "real real real real history history history history history history history history history history history mv mv mv mv mv"
      "real real real real history history history history history history history history history history history mv mv mv mv mv"
      "alarm alarm alarm alarm curve curve curve curve curve curve curve curve curve curve curve rank rank rank rank rank"
      "alarm alarm alarm alarm curve curve curve curve curve curve curve curve curve curve curve rank rank rank rank rank"
      "alarm alarm alarm alarm curve curve curve curve curve curve curve curve curve curve curve rank rank rank rank rank"
      "alarm alarm alarm alarm curve curve curve curve curve curve curve curve curve curve curve rank rank rank rank rank"
      "alarm alarm alarm alarm curve curve curve curve curve curve curve curve curve curve curve rank rank rank rank rank"
      "alarm alarm alarm alarm curve curve curve curve curve curve curve curve curve curve curve rank rank rank rank rank"
      "alarm alarm alarm alarm curve curve curve curve curve curve curve curve curve curve curve rank rank rank rank rank"
      "plantL plantL plantL plantL plantL plantL plantL plantL plantL plantL plantL plantL plantL plantL plantL contribute contribute contribute contribute contribute"
      "plantL plantL plantL plantL plantL plantL plantL plantL plantL plantL plantL plantL plantL plantL plantL contribute contribute contribute contribute contribute"
      "plantL plantL plantL plantL plantL plantL plantL plantL plantL plantL plantL plantL plantL plantL plantL contribute contribute contribute contribute contribute"
      "plantL plantL plantL plantL plantL plantL plantL plantL plantL plantL plantL plantL plantL plantL plantL contribute contribute contribute contribute contribute"
      "plantL plantL plantL plantL plantL plantL plantL plantL plantL plantL plantL plantL plantL plantL plantL contribute contribute contribute contribute contribute"
      "plantL plantL plantL plantL plantL plantL plantL plantL plantL plantL plantL plantL plantL plantL plantL contribute contribute contribute contribute contribute";
  }

  .real {
    grid-area: real;
    //border: 1px solid #ccc;
    border-radius: 5px;
    // box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.5);

    >div:nth-child(2) {
      height: calc(100% - 28px);
      display: grid;
      grid-template-rows: 1fr 1fr 1fr;
      grid-template-columns: 1fr;

      >div:nth-child(1) {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-around;
        text-align: center;
        align-items: center;

        >div {
          >div:nth-child(1) {
            font-size: 18px;
            font-weight: bold;
            font-family: DingTalk, DingTalk;
          }

          >div:nth-child(2),
          >div:nth-child(3) {
            font-size: 14px;
          }
        }
      }

      >div:nth-child(3) {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-around;
        text-align: center;
        align-items: center;

        >div {
          >div:nth-child(1) {
            font-size: 18px;
            font-weight: bold;
            font-family: DingTalk, DingTalk;
          }

          >div:nth-child(2),
          >div:nth-child(3) {
            font-size: 14px;
          }
        }

      }
    }

    >div:nth-child(2) {
      >div:nth-child(2) {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        height: 100%;
      }

      .myPic {
        width: 100%;
        height: 100%;
        position: relative;
        //height: 40px
        //position: absolute; /* 绝对定位 */
        //top: 50%; /* 图片顶部居中 */
        //left: 50%; /* 图片左侧居中 */
        //transform: translate(-50%, -50%);
      }
    }

    img:nth-child(1) {
      width: 42px;
      height: 56px;
      position: absolute;
      top: 20%;
      left: 50%;
      transform: translateX(-50%);
      animation: bounce 2s infinite;
    }

    img:nth-child(2) {
      width: 91px;
      height: 84px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    .animated_image {
      //animation: bounce 2s infinite;
    }

    @keyframes bounce {

      0%,
      100% {
        transform: translateX(-50%) translateY(0);
        /* 保持水平居中，并设置垂直动画 */
      }

      50% {
        transform: translateX(-50%) translateY(-10px);
        /* 只改变垂直方向 */
      }
    }
  }

  .history {
    grid-area: history;
    // box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
  }

  .mv {
    grid-area: mv;
    display: flex;
    align-items: center;
    border-radius: 5px;

    >div {
      width: 100%;
      // height: 100%;
      overflow: hidden;
    }

    img {
      width: 100%;
    }
  }

  :global {
    .ant-carousel .slick-dots-bottom {
      bottom: 35px;
    }
  }

  .alarm {
    grid-area: alarm;
    // box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
  }

  .gaojing_item {
    font-size: 14px;
    display: flex;
    justify-content: space-around;

    >div {
      width: 80px;

    }

    .gj2 {
      display: flex;
      align-items: center;
      margin-bottom: 5px;

      >span:nth-child(1) {
        display: inline-block;
        width: 10px;
        height: 10px;
        border-radius: 90PX;
        margin-right: 3px;
      }

      >span:nth-child(2) {
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }

  }

  .curve {
    grid-area: curve;
    // box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
  }

  .rank {
    grid-area: rank;
    // box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
  }

  .contribute {
    grid-area: contribute;
    // box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.5);
    border-radius: 5px;

    >div:nth-child(2) {
      height: calc(100% - 28px);
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      // display: flex;
      // justify-content: space-around;
      // align-items: center;
    }
  }

  .plantL {
    grid-area: plantL;
    // box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.5);
    border-radius: 5px;

    .plantL_table_one {
      :global {
        .ant-table-tbody {
          display: none;
        }
      }
    }

    .plantL_table_two {
      width: 100%;
      height: calc(100% - 80px);
      overflow-y: scroll;

    }
  }

  .lTitle_default {
    font-size: 14px;
    line-height: 28px;
    font-size: 14px;
    font-weight: 600;
    padding-left: 20px;
    background-image: url("../../assets/svg/default/标题浅色.svg");
    //background-size: cover;
    background-repeat: no-repeat;
    background-position: left;
    background-size: auto 28px;
  }

  .lTitle_dark {
    font-size: 14px;
    line-height: 28px;
    font-size: 14px;
    padding-left: 20px;
    background-image: url("../../assets/svg/dark/标题深色.svg");
    background-repeat: no-repeat;
    background-position: left;
    background-size: auto 28px;
  }

  .gj {
    text-align: center;

    >div:nth-child(1) {
      font-size: 1.1rem;
      font-weight: bold;
      font-family: DingTalk, DingTalk;
    }

    >div:nth-child(2) {
      font-size: 0.6rem;
    }
  }

  .she_hui_default {
    width: 100px;
    height: 32px;
    margin: 0 auto;
    background-image: url("../../assets/svg/default/社会贡献.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .she_hui_dark {
    width: 100px;
    height: 32px;
    margin: 0 auto;
    background-image: url("../../assets/svg/dark/社会贡献.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .socie {
    text-align: center;
    flex-direction: column  ;
    display: flex;
    align-items: center;
    justify-content: center;
    >div:nth-child(1) {
      >span:nth-child(1) {
        font-size: 18px;
        font-weight: bold;
        font-family: DingTalk, DingTalk;
      }

      >span:nth-child(2) {
        font-size: 14px;
      }
    }

    >div:nth-child(2) {
      font-size: 14px;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 3;
      overflow: hidden;
      
    }
  }

  .totalGJ {
    max-width: 100%;
    white-space: nowrap;
    /* 不换行 */
    overflow: hidden;
    /* 超出部分隐藏 */
    text-overflow: ellipsis;
    /* 超出部分显示省略号 */
  }

  :global {
    .ant-table-wrapper {
      max-height: calc(100% - 28px);
    }

    .slick-list {
      width: 100%;
    }
  }


}