.content {
    display: flex;
    align-items: center;
    padding: .4167rem .5208rem;
    background: linear-gradient(to right, #154b72 0%, transparent 120%);
    border-radius: .2604rem;
    min-width: 4.6875rem;
    max-width: 10.4167rem;
    box-shadow: .1563rem .1563rem .4167rem rgba(0, 234, 255, 0.25);
    .row {
        width: 0;
        height: 0;
        border-top: .3125rem solid transparent;
        border-left: .3646rem solid #49a2f8;
        border-bottom: .3125rem solid transparent;
        margin-right: .2604rem;
    }
    .plantName {
        font-size: .7813rem;
        color: #fff;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        font-family: DingTalkJinBuTi;
    }
}

.detail {
    width: 18.2292rem;
    background: rgba(17,24,56,0.85);
    border-radius: .8333rem;
    padding: 1.0417rem 1.5625rem;
    box-sizing: border-box;
    .header {
        color: #118786;
        font-size: .8333rem ;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: .5208rem;
        box-sizing: border-box;
        margin-bottom: .5208rem;
        &::before {
            content: "";
            width: .2083rem;
            height: .7292rem;
            background: #118786;
            border-radius: .1042rem;
            position: absolute;
            left: 1.5625rem;
        }
        .close {
            cursor: pointer;
        }
    }
    .infoContent {
        display: flex;
        width: 100%;
        font-size: .7292rem;
        color: #fff;
        > :nth-child(2) {
            flex: 4;
            padding-left: 2.0833rem;
            box-sizing: border-box;
        }
        .item {
            padding: .2604rem 0;
            display: flex;
            .name {
                width: 8.3333rem;
                color: #FFFFFF;
            }
            .value {
                flex: 1;
                text-align: left;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                color: #FFFFFF;
                width: 6.7708rem;
            }
        }
    }
}