.table {
    width: 100%;
    border-top: 1px solid rgba(0, 0, 0, 0.45);
    border-right: 1px solid rgba(0, 0, 0, 0.45);
    .item {
        display: flex;
        .name,
        .cell {
            display: flex;
            justify-content: center;
            align-items: center;

            font-size: 14px;
            &:nth-child(even) {
                border-left: 1px solid rgba(0, 0, 0, 0.45);
                border-bottom: 1px solid rgba(0, 0, 0, 0.45);
            }
            &:nth-child(odd) {
                border-left: 1px solid rgba(0, 0, 0, 0.45);
                border-bottom: 1px solid rgba(0, 0, 0, 0.45);
            }
            .value {
                flex: 1;
                padding: 5px 8px;
                &:nth-child(odd) {
                    border-right: 1px solid rgba(0, 0, 0, 0.45);
                }
            }
        }
        .name {
            width: 100px;
        }
        .cell {
            flex: 1;
        }
    }
}
