.table {
    width: 100%;
    border-top: 1px solid #0000004a;
    border-right: 1px solid #0000004a;
    .item {
        display: flex;
        .cell {
            padding: 5px 8px;

            flex: 1;
            &:nth-child(even) {
                border-left: 1px solid #0000004a;
                border-bottom: 1px solid #0000004a;
            }
            &:nth-child(odd) {
                border-left: 1px solid #0000004a;
                border-bottom: 1px solid #0000004a;
            }
        }
    }
}
