.table {
    width: 100%;
    border-bottom: 2px solid #e1ecfa;
    .item {
        display: flex;
        .cell {
            padding: 5px 8px;
            
            flex: 1;
            &:nth-child(even) {
                border-left: 2px solid #e1ecfa;
                border-bottom: 2px solid #e1ecfa;
            }
            &:nth-child(odd) {
                border-left: 2px solid #e1ecfa;
                border-bottom: 2px solid #e1ecfa;
            }
            
        }
    }
}
