@media (min-width: 1800px) {
    .worksWrapper {
        padding-bottom: 10px;
        gap: 30px;
        .work {
            width: calc(50% - 20px);
            height: calc(50% - 20px);
        }
    }
    .pic {
        width: 45px !important;
        height: 45px !important;
    }
    .data {
        font-size: 30px !important;
    }
    .name {
        font-size: 15px !important;
    }
}
