.total {
    display: flex;
    margin-top: 10px;
    > div {
        height: 100px;
        width: 200px;
        border: 1px solid #f0f0f0;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        &:nth-child(2) {
            margin: 0 10px;
        }
        .value{
            font-size: 20px;
            font-weight: bold;
            color: rgb(56, 78, 232);
        }
    }
}
