.content {
    .title {
        display: flex;
        width: 100%;
        padding:  15px 20px;
        .dataItem {
            width: calc(100%-400px);
            margin-left: 20px;
        }
        .level{
        }
    }
    .tablePart{
        padding:  15px 20px;
    }
}