.content {
    .title {
        display: flex;
        width: 100%;
        margin-bottom: 10px;
        padding: 30px 30px;
        .dataItem {
            width: calc(100%-400px);
        }

    }
    .tablePart{
        padding: 30px 30px;
    }
}