.input {
    border: 1px solid rgba(255, 255, 255, 0.15);
    margin-left: 5px;
    &:focus,
    &:hover {
        background-color: transparent !important;
        border-color: rgb(32, 194, 255) ;
    }
    &::placeholder {
        font-size: 14px;
    }
}
