.title{
    color: #fff;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    height: 50px;
    border-radius:.4167rem;
    span{
        font-family: DingTalkJinBuTi;
        font-size: 16px;
        position: relative;
        left: 30px;
    }
}