.title{
    color: #fff;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    background: url("/images/title_bg.svg") left center no-repeat;
    height: 2.6042rem;
    border-radius:.4167rem;
    span{
        color: white;
        font-family: DingTalkJinBuTi;
        font-size: 1.0417rem;
        position: relative;
        left: 2.3438rem;
    }
}