.title{
    color: #fff;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    background: url("/images/title_bg.svg") left center no-repeat;
    height: 40px;
    span{
        color: white;
        font-family: DingTalkJinBuTi;
        font-size: 20px;
        position: relative;
        left: 45px;
    }
}