.title {
  font-weight: 500;
  text-wrap: nowrap;
  &::before {
    display: inline-block;
    content: " ";
    width: 4px;
    height: 16px;
    background: #03B4B4;
    border-radius: 4px;
    vertical-align: middle;
    margin-right: 4px;
    position: relative;
    bottom: 1px;
  }
  @media screen and (min-width: 2000px) {
    font-size: 18px;
  }

  @media screen and (min-width: 1000px) and (max-width: 2000px) {
    font-size: 16px;
  }

  @media screen and (max-width: 1000px) {
    font-size: 16px;
  }
}