.title{
    font-size: 20px;
    font-weight: 500;
    color: #333333;
   &::before{
    display:inline-block;
    content: " ";
    width: 8px;
    height: 24px;
    background: linear-gradient( 90deg, #0787DB 0%, #034FB4 100%);
    border-radius: 4px;
    vertical-align: middle;
    margin-right: 8px;
   }
};