.title{
    color: white;
    font-size: 25px;
    &::before{
        display: inline-block;
        position: relative;
        height: 25px;
        width: 4px;
        background: #49bcf7;
        border-radius: 5px;
        content: "";
        margin-right: 10px;
        top: 4px;
    }
}