.container {
  // width: 100%;
  // min-width: 1200px;
  display: grid;
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr 1fr;
  grid-template-rows: auto 1fr;
  gap: 8px 8px;
  padding-bottom: 10px;
  height: 100%;
}

.title {
  grid-area: 1 / 1 / 2 / 2;
  padding: 20px 20px;
  display: flex;
  align-items: center;
  font-size: 14px;
  position: relative;
  border-radius: 8px;

  .right {
    position: absolute;
    right: 20px;
  }
}

.contentWrap {
  grid-area: 2 / 1 / 3 / 2;
  display: grid; 
  grid-auto-columns: 1fr; 
  grid-auto-rows: 1fr 1fr; 
  grid-template-rows: 200px auto; 
  gap: 8px 8px; 
  
  .heard {
    grid-area: 1 / 1 / 2 / 2;
    border-radius: 8px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 8px 8px;

    .headLeftPart {
      display: grid;
      grid-template-rows: 1fr 1fr;
      padding: 10px 25px;

      .line {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .label {
          font-size: 18px;
        }

        .value {
          font-size: 2vh;

          .unit {
            font-size: 1vh;
          }
        }

        .icon {
          font-size: 4vh;
        }
      }
    }

    .headrightPart {
      display: flex;
      justify-content: center;
      align-items: center;

      .value {
        font-size: 3vh;
        margin-right: 7%;

        .unit {
          font-size: 12px;
        }

        .label {
          font-size: 16px;

        }
      }

      .icon {
        font-size: 4vh;
      }
    }

  }
.oneGrid{
  grid-area: 2 / 1 / 3 / 2;
  display: grid; 
  grid-template-rows: auto 1fr;
  // grid-auto-rows: 6.7708rem 1fr; 
  // grid-template-rows:6.7708rem auto; 
  gap: 8px 8px; 
}
  .cneterPart {
    border-radius: 8px;
  }
  .onePcs { 
  
  }
  .bottomPart {
    grid-area: 4 / 1 / 7 / 2;
    border-radius: 8px;

    .totalPcs {
      padding: 16px 12px;
      border-radius: 8px;
      margin-bottom: 8px;
    }

    .pcsModule {
      display: grid;
      gap: 8px 8px;

    }
  }
}


@media screen and (min-width: 2000px) {
  .pcsModule {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  }
}

@media screen and (min-width: 1000px) and (max-width: 2000px) {
  .pcsModule {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media screen and (max-width: 1000px) {
  .pcsModule {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}