.header {
    width: 100%;
    height: 100%;
    position: relative;
    background: transparent url(@/assets/images/header_bg.svg) no-repeat;
    background-size: 100% 100%;
    left: 10px;
    .headerLeft {
        position: absolute;
        box-sizing: border-box;
        bottom: -10px;
        left: 0px;
        width: calc(22% + 4px);
        height: 32px;
        display: flex;
        .headerLeftLeftItem {
            flex: 1;
            display: flex;
            align-items: center;
            justify-content: center;
            color: white;
            background-color: #0b3858;
            cursor: pointer;
            &.active {
                background: transparent url(@/assets/images/area.svg) center center no-repeat;
            }
            &:nth-last-child(1) {
                border-radius: 6px;
            }
            &:nth-child(1) {
                border-radius: 6px;
            }
        }
    }
    .headerRight {
        position: absolute;
        box-sizing: border-box;
        bottom: -10px;
        right: 0px;
        width: calc(22% + 4px);
        height: 32px;
        display: flex;
        :global {
            .ant-input {
                background: rgba(21, 75, 114, 0.6);
                border: none;
                border-radius: 4px;
                color: white;
                :placeholder {
                    color: pink;
                }
            }
            input:
            
            .ant-select {
                background: rgba(21, 75, 114, 0.6);
                border: none;
                border-radius: 4px;
                color: white;
            }

            .ant-select-selector {
                border: none;
            }
        }
    }
}

@media (min-width: 1800px) {
    .headerLeft,
    .headerRight {
        bottom: -2px !important;
    }
}
