.legend {
    display: flex;
    align-items: center;
    margin: 5px 0;
    .name {
        font-size: 16px;
        color: #999999;
        margin: 0 8px 0 5px;
    }
    .value {
        font-size: 24px;
        color: #333333;
        font-family: DingTalkJinBuTi;
    }
}
