.create {
    .total {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gr
         
    }
    .content {
        background-color: white;
        border-radius: 10px;
        width: 100%;
        margin-top: 20px;
        padding: 20px;

        .curve {
            display: flex;
            margin-bottom: 20px;
            > div {
                flex: 1;
            }
        }
        .contentData {
            height: calc(100% - 60px);
            overflow-y: scroll;
            &::-webkit-scrollbar {
                display: none;
            }
            .pagination {
                margin-top: 20px;
                text-align: right;
            }
        }
    }
}
