.content{
    width: 100%;
    height: 100% ;
    .label{
        font-size: .8333rem;
        line-height: 1.6667rem;
        height: 1.6667rem;
        text-align: right;
        min-width: 10.4167rem;
        
    }
    .selectionBox{
        padding: .3125rem 1.1979rem;
        background-color: #20284D;
        cursor: pointer;
    }
    
}
.option{
    color: #EF6D0C !important;
}

.manual{
    width: 100%;
    height: 100% ;
}