.legend {
    display: flex;
    align-items: center;
    margin: 5px 0;
    .name {
        font-size: 16px;
        color: #999999;
        margin: 0 8px 0 5px;
    }
    .value {
        font-size: 20px;
        color: #333333;
        font-family: DingTalkJinBuTi;
    }
}

@media (max-width: 1500px) and (max-height: 870px) {
    .totalCount {
        font-size: 18px !important;
    }
    .totalText {
        font-size: 13px !important;
    }
    .legend {
        margin: 0 !important;
        .name {
            font-size: 13px !important;
        }
        .value {
            font-size: 13px !important;
        }
    }
}
