:global {
  .ant-tabs .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
    font-size: 16px;
  }
  .ant-btn-default{
    border:0px;
  }
}
.tabDf{
  :global {
    .ant-tabs >.ant-tabs-nav, .ant-tabs >div>.ant-tabs-nav {
      background: #F7F7F7;
    }
  }
}
.tabDark{
  :global {
    .ant-tabs >.ant-tabs-nav, .ant-tabs >div>.ant-tabs-nav {
      background: #000;
    }
  }
}
.control{
  :global{
    .ant-btn-default:not(:disabled):not(.ant-btn-disabled):hover{
      border-color: transparent;
    }
    .ant-space {
      height: 32px;
    }

  }
}
.mCbtn{
  :global{
    .ant-btn-lg {
      font-size: 14px;
      //width: 104px;
      line-height: 16px;
      height: 32px;
      border-radius: 4px;
    }
    .ant-space {
      height: 32px;
    }
  }
}
