@media (min-width: 1800px) {
    .data {
        font-size: 25px !important;
    }
    .pic {
        width: 50px !important;
        height: 50px !important;
    }
}

@media (max-width: 1800px) {
    .img {
        width: 30px !important;
    }
    .label {
        font-size: 13px !important;
    }
}
