.legend {
    display: flex;
    align-items: center;
    margin: 5px 0;
    .name {
        font-size: 16px;
        color: #999999;
    }
    .value {
        font-size: 24px;
        color: #333333;
        font-family: DingTalkJinBuTi;
    }
}

.powerGeneration{
    :global({
        
    })
}