.legend {
    display: flex;
    align-items: center;
    margin: 5px 0;
    .name {
        font-size: 16px;
        color: #999999;
    }
    .value {
        font-size: 24px;
        color: #333333;
        font-family: DingTalkJinBuTi;
    }
}

.powerGeneration {
    // :global{
    //     .ant-btn-primary{
    //         background: #49A2F8;
    //     }
    // }
    .btn {
        width: 31px;
        height: 24px;
        background: #ffffff;
        border-radius: 4px;
        border: 1px solid rgba(0, 0, 0, 0.15);
        display: flex;
        justify-content: center;
        align-items: center;
        color: rgba(0,0,0,0.15);
    }
}
