.total {
    display: grid;
    grid-template-rows: 2fr 4fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
    box-sizing: border-box;
    grid-template-areas:
        "g1 g2 g4"
        "g3 g3 g3";
    .all {
        grid-area: g1;
    }
    .my {
        grid-area: g2;
    }
    .taskBoard {
        grid-area: g3;
        border-radius: 16px;
    }
    .todoList {
        grid-area: g4;
        border-radius: 16px;
    }
    .workorders {
        border-radius: 16px;
        .title,.name {
            overflow: hidden; /* 确保超出容器的内容会被隐藏 */
            white-space: nowrap; /* 确保文本不会换行 */
            text-overflow: ellipsis; /* 超出部分显示省略符号 */
        }
        .order {
            border-radius: 8px;
            flex: 1;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: 0 5px;
            .value {
                font-size: 35px;
            }
        }
    }
    .content {
       fl
        display: flex;
        padding: 10px;
    }
}
