.total {
    width: 50%;
    // display: grid;
    // grid-template-rows: 2fr 4fr;
    // grid-template-columns: 1fr 1fr 1fr;
    // grid-gap: 10px;
    box-sizing: border-box;
    grid-template-areas:
        "g1 g2 g4"
        "g3 g3 g3";
    .numbers {
        height: calc(2 / 5 * 100%);
        display: flex;
        .all {
           
        }
        .my {
            
        }

        .todoList {
           
            border-radius: 16px;
        }
        .workorders {
            flex: 1;
            display: flex;
            flex-direction: column;
            border-radius: 16px;
            .title {
                padding: 10px;
                box-sizing: border-box;
                width: 100%;
            }
            .title,
            .name,
            .order {
                width: calc(100% - 10px);
                overflow: hidden; /* 确保超出容器的内容会被隐藏 */
                white-space: nowrap; /* 确保文本不会换行 */
                text-overflow: ellipsis; /* 超出部分显示省略符号 */
            }
            .content {
                flex: 1;
            }
            .order {
                border-radius: 8px;
                flex: 1;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                padding: 0 5px;
                box-sizing: border-box;
                .value {
                    font-size: 35px;
                }
            }
        }
    }
    .taskBoard {
        height: calc(3 / 5 * 100%);
        grid-area: g3;
        border-radius: 16px;
        display: flex;
        flex-direction: column;
        .title {
            padding: 10px;
            box-sizing: border-box;
        }
    }

    .content {
        height: calc(100% - 50px);
        display: flex;
        padding: 10px;
        box-sizing: border-box;
        gap: 5px;
    }
}
