.card{
    width: 100%;
    height: 100%;
    padding:15px 20px;
    background-color: #fff;
    .header{
        display: flex;
        font-family:PingFangSemiblod ;
        .filterPart{
            margin-left: auto;
        }
    };
    .content{
        margin-top: 16px;
        height: calc(100% - 50px);
    }
}