.content{
    width: 100%;
    height: calc(100% - 10px) ;
    // padding: 45px 35px;
    overflow-y: auto;

    .label{
        font-size: 16px;
        line-height: 32px;
        height: 32px;
    }
    .selectionBox{
        padding: 6px 23px;
        background-color: #20284D;
        cursor: pointer;
    }
}