.content {
    .title {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-bottom: 10px;
        .level{
            display: flex;
        }
      
    }
}