.content {
    .title {
        display: flex;
        // justify-content: space-between;
        width: 50%;
        margin-bottom: 10px;
        .dataItem {
            width: calc(100%-210px);
        }

    }
}