.content {
    .title {
        display: flex;
        // justify-content: space-between;
        width: 100%;
        padding:  15px 20px;
        position: relative;

        .level{
            margin-left: 20px;
        }
      .dataItem{
        position: absolute;
        right: 30px;

      }
    }

    .tablePart{
      padding:  15px 20px;
    }
}