.transactionDeclaration{
    width: 100%;
    .invitation{
        margin-top: 10px;
    }
    .dataForEcharts{
        margin: 20px 0;
        display: flex;
        .left{
            width: 60%;
        }
        .right{
            margin-left: 30px;
            width: calc(40% - 30px);
        }
    }
}

.awardIssuance{
    width: 100%;
    .invitation{
        margin-top: 10px;
    }
    .echarts{
        margin: 20px 0;
    }
}