.confirm-task {
    height: 100%;
    background-color: aqua;
    display: grid;
    grid-template-rows: 50px 1fr 30px;
    grid-template-areas:
        "g1 g2" 200px
        "g3 g3" auto;
    > div {
        border: 1px solid;
    }
    .wait-confirm {
        grid-area: "g1";
    }
    .response-suggest {
        grid-area: "g2";
    }
    .curve {
        grid-area: "g3";
    }
}
