.management-roles{
    background-color: red;
    height: 100%;
    display: grid;
    grid-template-rows: 350px 1fr;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    grid-template-areas:
        "g1 g2"
        "g3 g3"
}