.title{
    margin-bottom: 10px;
    font-weight: bold;
}
.info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    .item{
        margin-bottom: 10px;
    }
}
