.area{
    .title{
        height: 40px;
        background: black url(/images/area_title_bg.png) center center;
        background-size: 100% 100%;
        color: #7AE7F4;
        text-align: center;
        line-height: 40px;
        font-family: electronicFont;
        font-size: 25px;
    }
    .content{
        width: 100%;
        height: calc(100% - 40px);
        background: black url(/images/area_content_bg.png) center center;
        background-size: 100% 100%;
    }
}