.content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;

    .bottom {
        flex: 1;
        display: flex;
        gap: 8px;

        .left {
            flex: 2.5;
            display: flex;
            flex-direction: column;
            gap: 8px;

            .leftItem {
                flex: 1;
            }
        }

        .center {
            flex: 5;
        }

        .right {
            flex: 2.5;
            display: flex;
            flex-direction: column;
            gap: 8px;

            .right1 {
                flex: 3;
            }

            .right2 {
                flex: 3;
            }

            .right3 {
                flex: 4;
            }
        }
    }
}

.title {
    grid-area: title;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    font-size: 30px;
    padding: 20px 0;

    .sn {
        position: absolute;
        bottom: .5208rem;
        right: 3%;
        font-size: 20px;

        span {
            margin-right: .7813rem;
        }
    }
}

.pcsWrap {
    width: 100%;
    height: calc(100% - 0.8333rem);
    display: flex;
    border-radius: .8333rem;

    .pcsOne {
        width: 50%;

        .pcsOneTitle {
            height: 2.6042rem;
            line-height: 2.6042rem;
            display: flex;
            justify-content: space-around;
        }

        .pcsOneBody {
            height: calc(100% - 2.6042rem);
            display: flex;
            flex-direction: column;
            justify-content: space-around;

            .oneData {
                display: flex;
                justify-content: space-around;

                .key {
                    font-size: 1.0417rem;
                }

                .value {

                    font-size: 1.0417rem;
                }
            }
        }
    }
}

.valueOne {
    .left {
        min-width: 5.2083rem;
        font-size: .7292rem;

        .key {
            min-width: 5.7292rem;
        }

        .value {
            text-align: left;
            width: 45%;
            font-size: 1.0417rem;
            font-family: DingTalkJinBuTi;
        }
    }

    .right {
        min-width: 5.2083rem;
        text-align: left;
        font-size: .7292rem;

        .key {
            min-width: 5.2083rem;
            text-align: center;
        }

        .value {
            text-align: left;
            width: 60%;

            font-size: 1.0417rem;
            font-family: DingTalkJinBuTi;
        }

    }
}



.entityWrap {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;

    .oneCard {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .label {
            font-size: .7292rem;
        }

        .value {
            font-family: DingTalkJinBuTi;
        }
    }
}



.statusWrap {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: calc(100% - 0.8333rem);
    padding-top: 1.1458rem;


    .statusOne {
        display: flex;
        justify-content: space-around;
        background-color: rgba(33, 42, 82, 1);
        width: 30%;
        border-radius: .2083rem;

        .title {
            font-size: .8333rem !important;
        }

        .value {
            font-size: .8333rem !important;

        }

    }
}

.bmsContent {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 20px;

    .bmsOne {
        padding: 0  1.0417rem;
        width: 100%;

        .bmsTitle {
            width: 100%;
            font-size: 1.0417rem;
        }

        .bmsBody {
            display: flex;
            justify-content: space-around;
            align-items: center;
            font-size: .9375rem;

            .value {
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: space-around;
                flex-direction: column;

                .valueOne {
                    width: 100%;
                    display: flex;
                    flex-direction: row;

                    div {
                        width: 100%;
                        display: flex;
                        flex-direction: row;
                        justify-content: space-around;
                    }
                }
            }
        }
    }
}

.centerContent {
    grid-area: center;
    padding: 1.0417rem 1.5625rem;
    display: grid;
    grid-template-rows: 5.2083rem 1fr;
    height: 100%;

    .topData {
        display: flex;

        .topOne {
            width: 25%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            padding-top: .7813rem;
            font-size: .8333rem;

            .topOneLabel {
                font-size: 1.0417rem;
                text-align: center;
                font-family: DingTalkJinBuTi;
                height: calc(100% - 1.0417rem);
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
            }

            .bottomDes {
                width: '100%';
                height: 0.834rem;
            }

            .label {
                text-align: center;
                font-size: .7292rem;
            }

            .value {
                font-size: 1.4583rem;
                text-align: center;
                font-family: DingTalkJinBuTi;
            }
        }
    }

    .bottomPic {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            height: 25rem;
        }
    }
}

.powerData {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;

    .powerDataItemValue {
        text-align: center;
        font-size: 1.3021rem;
        font-family: DingTalkJinBuTi;
    }

    .powerDataItemLabel {
        font-size: .7292rem;
    }
}
