.btn{
    display: flex;
    align-items: center;
}

.wrap{
    width: 100%;
    min-height: 300px;
    height: 500px;
    // display: grid;
    // grid-template-rows: repeat(5,20%);
    // grid-template-columns: repeat(48,1fr);
    .outer{
        display: flex;
        align-items: center;
    }
.inner{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(48,1fr);

}
}