.table{
    height: 100%;
    overflow: hidden;
    .tableHeader{
        display: flex;
        background: linear-gradient(rgba(21, 171, 219, 0.4) 0%, rgba(9, 114, 180, 0) 100%) !important;
        border: 1px solid #00C3FF;
        .tableHeaderTitle{
            flex: 1;
            text-align: center;
            font-size: 16px;
            padding: 8px;
            font-family: electronicFont;
        }
    }
    .tableOuterContent{
        overflow: hidden;
        .tableContent{
            position: relative;
            .tableContentRow{
                display: flex;
                border-bottom: 1px solid rgba(0,195,255,0.4);
                .tableContentCol{
                    flex: 1;
                    padding: 8px;
                    text-align: center;
                }
            }
            &::-webkit-scrollbar{
                display: none;
            }
        }
    }
}