.dataInfo{
    background-color: white;
    padding: 25px 30px;
    margin: 20px 0;
    border-radius: 8px;
    .dataInfoTop{
        margin-bottom: 15px;
    }
    .dataInfoBottom{
        display: flex;
        justify-content: space-between;
        .dataInfoBottomItem{
            .dataInfoBottomItemTop{
                margin-bottom: 5px;
            }
            .dataInfoBottomItemBottom{
                .dataInfoBottomItemBottomValue{
                    font-size: 25px;
                    margin-right: 5px;
                    font-weight: 600;
                }
                .dataInfoBottomItemBottomUnit{
                    color: #c1c2c8;
                }
            }
        }
    }
}

.topology{
    background-color: white;
    padding: 25px 30px;
    margin: 20px 0;
    border-radius: 8px;
}