.dataInfo{
    margin: 20px 0;
}

.topology{
    background-color: white;
    padding: 25px 30px;
    border-radius: 8px;
    height: calc(100vh - 320px);
    overflow-y: scroll;
    &::-webkit-scrollbar{
        display: none;
    }
}