.overView{
    width: 100%;
    height: 100%;
    min-height: 100%;
    padding: 25px 20px 12px 20px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    .deepColor{
        background: #074267;
    }
    .areaPadding{
        padding: 16px;
        box-sizing: border-box;
    }
    .title{
        display: flex;
        margin-bottom: 8px;
        align-items: center;
    }
    .top{
        width: 100%;
        height: 10%;
        position: relative;
        .deepColor;
        .topTitle{
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }
        .snTitle{
            position: absolute;
            right: 42px;
            bottom: 18px;
            color: #A4BAC8;
        }
        @media screen and (min-width: 2000px){
            .topTitle{
                font-size: 48px;
            }
            .snTitle{
                font-size: 24px;
            }
        }
        @media screen and (min-width: 1000px) and (max-width: 2000px){
            .topTitle{
                font-size: 38px;
            }
            .snTitle{
                font-size: 18px;
            }
        }
        @media screen and (max-width: 1000px){
            .topTitle{
                font-size: 28px;
            }
            .snTitle{
                font-size: 12px;
            }
        }
    }
    .center{
        width: 100%;
        height: calc(70% - 16px);
        display: flex;
        justify-content: space-between;
        gap: 8px;
        .centerLeft{
            width: 30%;
            height: 100%;
            display: flex;
            flex-direction: column;
            gap: 8px;
            .centerLeftOne{
                width: 100%;
                height: calc(40% - 8px);
                .deepColor;
                .areaPadding;
                .centerLeftOneArea{
                    width: 100%;
                    height: calc(100% - 40px);
                    display: flex;
                    justify-content: space-between;
                    .centerLeftOneAreaLeft{
                        width: 75%;
                        height: 100%;
                        display: grid;
                        grid-template-columns: repeat(2, 1fr);
                        grid-template-rows: repeat(2, 1fr);
                        gap: 8px;
                        .item{
                            width: 100%;
                            height: 100%;
                            padding: 5px 0 0 10px;
                            box-sizing: border-box;
                            display: flex;
                            .left{
                                display: flex;
                                align-items: center;
                                width: 22%;
                            }
                            .right{
                                flex: 1;
                                height: 100%;
                                position: relative;
                                .rightData{
                                    width: calc(100% - 20px);
                                    height: calc(100% - 20px);
                                    position: absolute;
                                    left: 20px;
                                    bottom: 15px;
                                    z-index: 10;
                                    display: flex;
                                    flex-direction: column;
                                    justify-content: center;
                                    .rightData1{
                                        color: #00CCFF;
                                        margin-bottom: 5px;
                                        font-family: DingTalkJinBuTi;
                                    }
                                    .rightData2{
                                        color: #2193C3;
                                    }
                                    @media screen and (min-width: 2000px){
                                        .rightData1{
                                            font-size: 24px;
                                        }
                                        .rightData2{
                                            font-size: 18px;
                                        }
                                    }
                                    @media screen and (min-width: 1000px) and (max-width: 2000px){
                                        .rightData1{
                                            font-size: 22px;
                                        }
                                        .rightData2{
                                            font-size: 12px;
                                        }
                                    }
                                    @media screen and (max-width: 1000px){
                                        .rightData1{
                                            font-size: 20px;
                                        }
                                        .rightData2{
                                            font-size: 10px;
                                        }
                                    }
                                }
                                img{
                                    position: absolute;
                                    bottom: 0;
                                    right: 0;
                                    width: 100%;
                                    z-index: 0;
                                }
                            }
                        }
                    }
                    .centerLeftOneAreaRight{
                        width: calc(25% - 5px);
                        height: 100%;
                        display: grid;
                        grid-template-columns: repeat(1, 1fr);
                        grid-template-rows: repeat(2, 1fr);
                        gap: 15px;
                        position: relative;
                        .item{
                            height: 120%;
                            width: 100%;
                            position: relative;
                            .backgroundImg{
                                position: absolute;
                                width: 100%;
                                height: 100%;
                            }
                            .img{
                                height: 40px;
                                position: absolute;
                                left: 50%;
                                transform: translateX(-50%);
                                height: 40%;
                            }
                            .data{
                                position: absolute;
                                left: 50%;
                                top: 50%;
                                transform: translate(-50%, -50%);
                                text-align: center;
                                .data1{
                                    font-family: DingTalkJinBuTi;
                                    margin-bottom: 5px;
                                }
                                .data2{
                                    color: #2193C3;
                                    white-space: nowrap; 
                                    overflow: hidden;
                                    text-overflow: ellipsis;
                                }
                                @media screen and (min-width: 2000px){
                                    .data1{
                                        font-size: 30px;
                                    }
                                    .data2{
                                        font-size: 16px;
                                    }
                                }
                                @media screen and (min-width: 1000px) and (max-width: 2000px){
                                    .data1{
                                        font-size: 20px;
                                    }
                                    .data2{
                                        font-size: 10px;
                                    }
                                }
                                @media screen and (max-width: 1000px){
                                    .data1{
                                        font-size: 10px;
                                    }
                                    .data2{
                                        font-size: 8dvh;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .centerLeftTwo{
                width: 100%;
                height: 25%;
                .deepColor;
                .areaPadding;
                .centerLeftTwoArea{
                    width: 100%;
                    height: calc(100% - 30px);
                    display: grid;
                    grid-template-columns: repeat(3, 1fr);
                    grid-template-rows: repeat(1, 1fr);
                    gap: 6px;
                    position: relative;

                    .itemLeft{
                        padding: 10px;
                        box-sizing: border-box;
                        height: 100%;
                        width: 100%;
                        position: relative;
                        .backgroundImg{
                            position: absolute;
                            top: -5px;
                            width: calc(100% - 20px);
                            height: 100%;
                        }
                        .img{
                            height: 40px;
                            position: absolute;
                            left: 50%;
                            transform: translateX(-50%);
                            height: 40%;
                        }
                        .data{
                            position: absolute;
                            left: 50%;
                            top: 50%;
                            transform: translate(-50%, -50%);
                            text-align: center;
                            .data1{
                                font-family: DingTalkJinBuTi;
                                margin-bottom: 2px;
                            }
                            .data2{
                                color: #2193C3;
                                white-space: nowrap; 
                                overflow: hidden;
                                text-overflow: ellipsis;
                            }
                            @media screen and (min-width: 2000px){
                                .data1{
                                    font-size: 30px;
                                }
                                .data2{
                                    font-size: 20px;
                                }
                            }
                            @media screen and (min-width: 1000px) and (max-width: 2000px){
                                .data1{
                                    font-size: 20px;
                                }
                                .data2{
                                    font-size: 13px;
                                }
                            }
                            @media screen and (max-width: 1000px){
                                .data1{
                                    font-size: 10px;
                                }
                                .data2{
                                    font-size: 10px;
                                }
                            }
                        }
                    }

                    .itemRight{
                        width: 100%;
                        height: 100%;
                        box-sizing: border-box;
                        display: flex;
                        .left{
                            display: flex;
                            align-items: center;
                            width: 22%;
                        }
                        .right{
                            flex: 1;
                            height: 100%;
                            position: relative;
                            .rightData{
                                width: calc(100% - 20px);
                                height: calc(100% - 20px);
                                position: absolute;
                                left: 20px;
                                bottom: 15px;
                                z-index: 10;
                                display: flex;
                                flex-direction: column;
                                justify-content: center;
                                .rightData1{
                                    color: #00CCFF;
                                    margin-bottom: 5px;
                                    font-family: DingTalkJinBuTi;
                                }
                                .rightData2{
                                    color: #2193C3;
                                }
                                @media screen and (min-width: 2000px){
                                    .rightData1{
                                        font-size: 24px;
                                    }
                                    .rightData2{
                                        font-size: 18px;
                                    }
                                }
                                @media screen and (min-width: 1000px) and (max-width: 2000px){
                                    .rightData1{
                                        font-size: 22px;
                                    }
                                    .rightData2{
                                        font-size: 12px;
                                    }
                                }
                                @media screen and (max-width: 1000px){
                                    .rightData1{
                                        font-size: 20px;
                                    }
                                    .rightData2{
                                        font-size: 10px;
                                    }
                                }
                            }
                            img{
                                position: absolute;
                                bottom: 0;
                                right: 0;
                                width: 100%;
                                z-index: 0;
                            }
                        }
                    }
                }
            }
            .centerLeftThree{
                width: 100%;
                height: calc(35% - 8px);
                .deepColor;
                .areaPadding;
                .centerLeftThreeArea{
                    width: 100%;
                    height: calc(100% - 30px);
                    display: grid;
                    grid-template-columns: repeat(3, 1fr);
                    grid-template-rows: repeat(1, 1fr);
                    gap: 8px;
                    position: relative;
                    .item{
                        height: 100%;
                        width: 100%;
                        position: relative;
                        .backgroundImg{
                            position: absolute;
                            width: 100%;
                            height: calc(100% - 10px);
                            top: 50%;
                            transform: translateY(-50%);
                        }
                        .img{
                            height: 40px;
                            position: absolute;
                            left: 50%;
                            transform: translateX(-50%);
                        }
                        .data{
                            position: absolute;
                            left: 50%;
                            top: 50%;
                            transform: translate(-50%, -50%);
                            text-align: center;
                            .data1{
                                font-family: DingTalkJinBuTi;
                                margin-bottom: 3px;
                            }
                            .data2{
                                color: #2193C3;
                                margin-top: 3px;
                                white-space: nowrap; 
                                overflow: hidden;
                                text-overflow: ellipsis;
                            }
                            @media screen and (min-width: 2000px){
                                .data1{
                                    font-size: 35px;
                                }
                                .rightData2{
                                    font-size: 18px;
                                }
                            }
                            @media screen and (min-width: 1000px) and (max-width: 2000px){
                                .data1{
                                    font-size: 25px;
                                }
                                .rightData2{
                                    font-size: 12px;
                                }
                            }
                            @media screen and (max-width: 1000px){
                                .data1{
                                    font-size: 15px;
                                }
                                .rightData2{
                                    font-size: 10px;
                                }
                            }
                        }
                    }
                }
            }
        }
        .centerRight{
            width: calc(70% - 8px);
            height: 100%;
            background: linear-gradient( 180deg, #00192E 0%, #00152B 57%, #0D2C4F 100%);
        }
    }
    .bottom{
        width: 100%;
        height: 20%;
        display: flex;
        gap: 8px;
        .commonTitle{
            margin-bottom: 10px;
        }
        .commonArea{
            height: calc(100% - 40px);
            padding: 0 10px;
            box-sizing: border-box;
        }
        .bottomOne{
            width: 50%;
            height: 100%;
            .deepColor;
            .areaPadding;
            .title{
                .commonTitle; 
            }
            .area{
                .commonArea;
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                grid-template-rows: repeat(1, 1fr);
                gap: 8px;
                .subTitle{
                    display: flex;
                    align-items: center;
                    height: 30px;
                    img{
                        width: 30px;
                        height: 30px;
                        margin-right: 10px;
                    }
                }
                .subArea{
                    height: calc(100% - 30px);
                    display: flex;
                    padding: 0 0 0 20px;
                    box-sizing: border-box;
                    position: relative;
                    .subAreaLeft{
                        width: 60px;
                        display: flex;
                        gap: 10px;
                        align-items: center;
                        img{
                            width: 100%;
                        }
                    }
                    .subAreaRight{
                        flex: 1;
                        height: 100%;
                        display: grid;
                        grid-template-columns: repeat(2, 1fr);
                        grid-template-rows: repeat(2, 1fr);
                        gap: 8px;
                        margin-left: 30px;
                        .subAreaRightItem{
                            display: grid;
                            align-items: center;
                            grid-template-columns: 1fr 3fr;
                            grid-template-rows: repeat(1, 1fr);
                            gap: 8px;
                            .subAreaRightItemTitle{
                                color: #2193C3;
                            }
                            @media screen and (min-width: 2000px){
                                .subAreaRightItemTitle{
                                    font-size: 20px;
                                }
                            }
                            @media screen and (min-width: 1000px) and (max-width: 2000px){
                                .subAreaRightItemTitle{
                                    font-size: 13px;
                                }
                            }
                            @media screen and (max-width: 1000px){
                                .subAreaRightItemTitle{
                                    font-size: 10px;
                                }
                            }
                        }
                    }
                    .subAreaBg{
                        width: 100%;
                        position: absolute;
                        bottom: 0;
                        left: -20px;
                    }
                }
            }
        }
        .bottomTwo{
            width: calc(25% - 8px);
            height: 100%;
            .deepColor;
            .areaPadding;
            .title{
                .commonTitle; 
            }
            .area{
                height: calc(100% - 30px);
                display: grid;
                align-items: center;
                grid-template-columns: repeat(1, 1fr);
                grid-template-rows: repeat(4, 1fr);
                .areaItem{
                    display: grid;
                    align-items: center;
                    grid-template-columns: repeat(4, 1fr);
                    grid-template-rows: repeat(1, 1fr);
                    height: 100%;
                }
                .areaItemHeader{
                    background: linear-gradient(rgba(21, 171, 219, 0.4) 0%, rgba(9, 114, 180, 0) 100%);
                    border: 1px solid #00C3FF;
                    .areaItemContent{
                        color: #2193C3;
                        height: 100%;
                        width: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                }
                .areaItemContent{
                    text-align: center;
                    height: 100%;
                    .areaItemContent{
                        color: white;
                        background: #053451;
                        height: 100%;
                        width: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                }
            }
        }
        .bottomThree{
            width: calc(25% - 8px);
            height: 100%;
            .deepColor;
            .areaPadding;
            .title{
                .commonTitle; 
            }
            .area{
                .commonArea;
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                grid-template-rows: repeat(2, 1fr);
                gap: 10%;
                .item{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                }
            }
        }
    }

    :global{
        .ant-radio-checked .ant-radio-inner{
            border-color: #00FF11;
            background-color: transparent;
        }
        .ant-radio-checked .ant-radio-inner::after{
            background-color: #00FF11;
        }
        .ant-radio-wrapper{
            margin-left: 50px;
        }
    }
}

