.wrapHeard{
    display: flex;
    width: 100%;
    margin: 40px 0px;
    .leftGrop{
        width: 50%;
        .tabButton{
            margin: 0 8px
        }
        .timeNow{
            font-size: 18px;
        }
    }
    .rightGroup{
        display: flex;
        justify-content: end;
        width: 50%;
        .centerButton{
            margin: 0 25px;
        }
    }
}