.table {
    height: 100%;
    background: #0F446A;
    font-size: 13px;
    .row {
        display: flex;
        margin-bottom: 3px;
        .tableTitle,
        .value {
            flex: 1;
            width: 0;
            padding: 5px 10px;
            box-sizing: border-box;
            border-right: 1px solid #175785;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
    }
    .valueWrapper {
        width: 100%;
        height: calc(100% - 40px);
        overflow-y: scroll;
        &::-webkit-scrollbar {
            width: 0;
        }
        .row {
            background: #17537F;
            .value {
                width: 80%;
                color: #BBDFFF;
                display: flex;
                align-items: center;
                justify-content: left;
                padding: 0 10px;
                box-sizing: border-box;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }
        }
    }
}
.ant-pagination-item-active {
    background-color: transparent !important;
    a {
        color: rgb(32, 194, 255) !important;
    }
}

@media (max-width: 1800px) {
    .searchBar {
        > div {
            width: calc(33.3% - 15px) !important;
        }
    }
}

@media (min-width: 1800px) {
    .searchBar {
        > div {
            width: calc(25% - 15px) !important;
        }
    }
}