.table {
    height: calc(100% - 1.0417rem);
    font-size: .6771rem;
    .row {
        display: flex;
        .tableTitle,
        .rowItem {
            width: 0;
            padding: .5208rem .5208rem;
            box-sizing: border-box;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
    }
    .valueWrapper {
        width: 100%;
        height: calc(100% - 2.0833rem);
        overflow-y: scroll;
        &::-webkit-scrollbar {
            width: 0;
        }
        .row {
            // background: #0F446A;
            height: 2.0833rem;
            .value {
                // color: #BBDFFF;
                padding: .2604rem .5208rem;
                box-sizing: border-box;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                align-items: center;
                line-height: 1.5625rem;
            }
        }
    }
}
.ant-pagination-item-active {
    background-color: transparent !important;
    // a {
    //     color: rgb(32, 194, 255) !important;
    // }
}

@media (max-width: 1800px) {
    .searchBar {
        > div {
            width: calc(33.3% - 15px) !important;
        }
    }
}

@media (min-width: 1800px) {
    .searchBar {
        > div {
            width: calc(25% - 15px) !important;
        }
    }
}