.tips {
    font-weight: 400;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.15);
}
.item {
    flex: 1;
    width: ;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f5f9fe;
    border-radius: 4px;
    .picWrapper {
        flex: 1;
        text-align: right;
        .pic {
            width: 40px;
            height: 40px;
            margin-right: 8px;
        }
    }
    .right {
        flex: 2;
        .data {
            font-weight: normal;
            font-family: DingTalkJinBuTi;
            font-size: 22px;
            color: #25598d;
            .value {
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }
            .unit {
                font-weight: 400;
                font-family: normal;
                font-size: 12px;
                color: #999999;
                margin-left: 5px;
            }
        }
        .name {
            font-weight: 400;
            font-size: 14px;
            color: #666666;
        }
    }
}
