.container {
    height: 100%;
    display: flex;
    gap: 8px;
    .left,
    .right {
        height: 100%;
    }
    .left {
        width: 70%;
        .map {
            height: 60%;
        }
        .plantKPI {
            height: 88px;
            margin: 8px 0;
        }
        .PowerGeneration {
            height: calc(40% - 104px);
        }
    }
    .right {
        width: 30%;
        .weather {
            margin-bottom: 8px;
            height: 100px;
        }
        .flowchart {
            height: 40%;
        }
        .socialContribution {
            height: 130px;
            margin: 8px 0;
        }
        .plantAlarm {
            height: calc(60% - 254px);
        }
    }
}
