.container {
    height: 100%;
    display: flex;
    gap: 8px;
    .left,
    .right {
        height: 100%;
    }
    .left {
        width: 70%;
        .map {
            height: 58%;
        }
        .plantKPI {
            height: 88px;
            margin: 8px 0;
        }
        .PowerGeneration {
            height: calc(42% - 104px);
        }
    }
    .right {
        width: 30%;
        .weather {
            margin-bottom: 8px;
            height: 80px;
        }
        .flowchart {
            height: 38%;
        }
        .socialContribution {
            margin: 8px 0;
            height: 130px;
        }
        .plantAlarm {
            height: calc(62% - 234px);
        }
    }
}
