.login {
    position: relative;

    input:-webkit-autofill {
        -webkit-animation: autofill-fix 1s infinite !important;
        -webkit-text-fill-color: white !important;
        caret-color: white !important;
        -webkit-transition: background-color 50000s ease-in-out 0s !important;
        -webkit-box-shadow: 0 0 0 1000px transparent inset !important;
        transition: background-color 50000s ease-in-out 0s !important;
        background-color: transparent !important;
        background-image: none !important;
    }

    .Title {
        position: absolute;
        left: 83px;
        font-family: DingTalkJinBuTi;
        color: #FFFFFF;
        line-height: 72px;
        text-shadow: 4px 8px 4px #000000;
    }

    .bottom {
        position: absolute;
        bottom: 30px;
        display: block;
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .formCard {
        background: rgba(0, 0, 0, 0.3);
        box-shadow: 8px 8px 8px 0px rgba(0, 0, 0, 0.16);
        border-radius: 16px;
        backdrop-filter: blur(6px);
    }

    :global {
        .ant-input-password {
            &::placeholder {
                line-height: 40px;
            }
        }

        .ant-tabs-nav {
            margin-bottom: 0px;
        }

        .ant-input-affix-wrapper {
            color: white !important;
        }

        .ant-input {
            &::placeholder {
                color: white !important;
            }
        }

        .ant-input-password-icon{
            color: #73787F !important;
        }
    }
}

@media screen and (min-width: 2000px) {
    .Title {
        font-size: 60px;
    }

}

@media screen and (min-width: 1000px) and (max-width: 2000px) {
    .Title {
        font-size: 42px;
    }
}

@media screen and (max-width: 1000px) {
    .Title {
        font-size: 36px;
    }

}