.login{
    min-width: 1200px;

    :global{
        .ant-input-password{
            &::placeholder {
                line-height: 40px;
            }
        }
        .ant-tabs-nav{
            margin-bottom: 0px;
        }
    }
}