.management-roles {
    height: 100%;
    display: grid;
    grid-template-rows: 2fr 3fr;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    grid-template-areas:
        "g1 g2"
        "g3 g3";
    color: #fff;
    > div {
        border: 1px solid;
        background: #00254A;
        .title {
            display: flex;
            justify-content: space-between;
            padding: 10px;
            box-sizing: border-box;
        }
    }
    .board {
        grid-area: g1;
    }
    .total {
        grid-area: g2;
    }
    .personnel-tasks {
        grid-area: g3;
    }
}
