.container {
    width: 100%;
    height: 100%;  
    display: grid;
    grid-template-columns: 1fr 1fr 0.23fr 1.7fr 0.9fr 1fr 1.3fr 0.23fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 0.3fr 1.7fr 1fr 0.7fr 1.3fr 1fr 1fr;
    grid-auto-columns: 1fr;
    gap: 8px 8px;
    grid-auto-flow: row;
    grid-template-areas:
      "area1 area1 area1 area8 area8 area8 area8 area4 area4 area4"
      "area1 area1 area1 area8 area8 area8 area8 area4 area4 area4"
      "area1 area1 area1 area8 area8 area8 area8 area4 area4 area4"
      "area1 area1 area1 area8 area8 area8 area8 area4 area4 area4"
      "area2 area2 area2 area8 area8 area8 area8 area5 area5 area5"
      "area2 area2 area2 area8 area8 area8 area8 area5 area5 area5"
      "area2 area2 area2 area8 area8 area8 area8 area5 area5 area5"
      "area3 area3 area3 area7 area7 area7 area7 area6 area6 area6"
      "area3 area3 area3 area7 area7 area7 area7 area6 area6 area6"
      "area3 area3 area3 area7 area7 area7 area7 area6 area6 area6";
  }

  .areaContent{
    height: calc(100% - 40px);
    background-color: #0B3858;
  }
  
  .area4 { 
      grid-area: area4; 
  }
  
  .area2 { grid-area: area2; }
  
  .area3 { grid-area: area3; }
  
  .area6 { grid-area: area6; }
  
  .area5 { grid-area: area5; }
  
  .area8 { grid-area: area8; }
  
  .area7 { 
      grid-area: area7; 
      position: relative;
      .areaContent{
        height: calc(100% - 40px);
        background-color: #0B3858;
        padding: 10px;
        box-sizing: border-box;
      }
      .btn{
        position: absolute;
        right: 10px;
        width: 100px;
        height: 30px;
        line-height: 30px;
        background: transparent url(/images/area.svg) center center no-repeat;
        background-size: cover;
        text-align: center;
        color: white;
        cursor: pointer;
      }
      .table{
        margin-top: 30px;
        height: calc(100% - 30px);
      }
  }
  
  .area1 { 
      grid-area: area1; 
      .areaContentChart{
        height: calc(100% - 40px);
      }
      .areaContentData{
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        top: -20px;
        .areaContentDataItem{
          display: flex;
          align-items: center;
          margin: 0 20px;
          .areaContentDataItemData{
            .areaContentDataItemData1{
              font-size: 20px;
              font-family: DingTalkJinBuTi;
              color: #54CFFF;
              margin: 0  0  0 10px;
            }
            .areaContentDataItemData2{
              font-size: 15px;
              color: white;
            }
          }
        }
      }
  }
  