.advancedAnalytics{
    width: 100%;
    height: calc(100% - 10px) ;
    .searchHead{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: left;
        margin-bottom: 30px;
        // padding-left: 60px;
        .margRL{
            margin: 0 10px 0 10px;
        }
        .firstButton{
            margin: 0 20px 0 10px;
        }
    }
    .echartPart{
        height: calc(100% - 70px);
        width:100%;
        .echartPartCardwrap{
            height: 100%;

        }
    }
   
}