.pack {
    width: 100%;
    height: 100%;

    .margRL {
        margin-left: calc(100% / 13 / 2 - 24px);

    }

    .packContent {
        .onePack {
            margin-top: 40px;
            &:first-child{
                margin-top: 0px;
            }
            .title1 {
                font-size: 20px;
                padding-left: calc(100% / 13 / 2 - 24px);
            }

            .vol {
                margin-bottom: 12px;

                .title2 {
                    font-size: 18px;
                    margin: 28px 0 16px 0;
                    padding-left: calc(100% / 13 / 2);

                }

                .oneContent {
                    display: grid;
                    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
                    justify-items: start;
                    padding-left: calc(100% / 13 / 2);


                    .oneData {
                        padding: 8px 0;
                    }
                }
              
            }

            .tem {
                margin-bottom: 12px;

                .title2 {
                    font-size: 18px;
                    margin: 28px 0 16px 0;
                    padding-left: calc(100% / 13 / 2);

                }

                .oneContent {
                    display: grid;
                    padding-left: calc(100% / 13 / 2);
                    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
                    justify-items: start;
                    // padding: 0 24px;
                    .oneData {
                        padding: 8px 0;
                    }
                }
                .tempContent{
                    display: grid;
                    padding-left: calc(100% / 13 / 2);
                    grid-template-columns: 1fr 1fr 1fr 1fr 1fr  1fr 1fr;
                    justify-items: start;
                }
            }

        }
    }
}