.pack {
    width: 100%;
    height: 100%;
    padding: 1.3021rem 1.0417rem  .8333rem 1.0417rem;

    .margRL {
        margin-left: calc(100% / 13 / 2 - 1.25rem);

    }

    .packContent {
        .onePack {
            margin-top: 2.0833rem;

            .title1 {
                font-size: 1.0417rem;
                padding-left: calc(100% / 13 / 2 - 1.25rem);
            }

            .vol {
                margin-bottom: .625rem;

                .title2 {
                    font-size: .8854rem;
                    margin: 1.4583rem 0 .8333rem 0;
                    padding-left: calc(100% / 13 / 2);
                    font-weight: 700;

                }

                .oneContent {
                    display: grid;
                    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr  ;
                    justify-items: start;
                    padding-left: calc(100% / 13/ 2);
                    font-size: .7813rem;


                    .oneData {
                        padding: .4167rem 0;
                    }
                }
              
            }

            .tem {
                margin-bottom: .625rem;

                .title2 {
                    font-size: .8854rem;
                    margin: 1.4583rem 0 .8333rem 0;
                    padding-left: calc(100% / 13 / 2);
                    font-weight: 700;

                }

                .oneContent {
                    display: grid;
                    padding-left: calc(100% / 13 / 2);
                    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr ;
                    justify-items: start;
                    font-size: .7813rem;
                    .oneData {
                        padding: .4167rem 0;
                    }
                }
               
            }
            .packTem{
                margin-bottom: .625rem;

                .title2 {
                    font-size: 1.0417rem;
                    margin: 1.4583rem 0 .8333rem 0;
                    padding-left: calc(100% / 13 / 2);
                    font-weight: 700;

                }
                .tempContent{
                    display: grid;
                    padding-left: calc(100% / 13 / 2);
                    grid-template-columns: 1fr 1fr 1fr 1fr 1fr  1fr 1fr;
                    justify-items: start;
                    font-size: .7813rem;
                }
            }
         

        }
    }
}