.index {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #f5f9fe;
    padding: 0 10px;
    .item {
        display: flex;
        padding: 0 10px;
        flex: 1;
        display: flex;
        justify-content: center;
    }
    .date {
        font-size: 12px;
        color: #999999;
    }
    .border {
        width: 1px;
        height: 49px;
        border: 1px solid;
        border-image: linear-gradient(
                180deg,
                rgba(235, 243, 254, 1),
                rgba(161, 203, 255, 1),
                rgba(235, 243, 254, 1)
            )
            1 1;
    }
    .weather {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-right: 10px;
        .pic {
            width: 35px;
            height: 35px;
            margin-bottom: 5px;
        }
    }
    .tempDate {
         
        .temp {
            height: 35px;
            line-height: 35px;
            font-size: 24px;
            color: #333333;
            margin-bottom: 5px;
        }
    }
}
