.index {
    height: 100%;
    display: flex;
    align-items: center;
    background: #f5f9fe;
    padding: 0 10px;
    .today {
        display: flex;
    }
    .weather {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .pic {
            width: 35px;
            height: 35px;
            margin-bottom: 5px;
        }
    }
    .temp {
        font-size: 24px;
        color: #333333;
    }
}
