.content {
    height: calc(100% - 50px);
    width: 100%;
    overflow: scroll;
    &::-webkit-scrollbar {
        display: none;
    }
}


.advancedAnalytics{
    width: 100%;
    height: calc(100% - 10px) ;
    .searchHead{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 30px;
        padding-left: 20px;
        .margRL{
            margin: 0 40px 0 10px;
        }
        .firstButton{
            margin: 0 20px 0 0;
        }
    }
    .echartPart{
        height: calc(100% - 70px);
        width:100%;
        .echartPartCardwrap{
            height: 100%;
        }
    }
   
}
.advancedAnalytics:nth-child(1){
    margin-bottom: 20px;
}