.index {
    width: 100vw;
    height: 100vh;
    background: #0f293b;
    padding: 8px 16px;
    box-sizing: border-box;
    font-size: 14px;
    .header {
        height: 80px;
        background: url("../images/大标题.svg") no-repeat;
        background-size: 100% 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        .companyName {
            font-size: 26px;
            background-image: linear-gradient(to bottom, #d7f8ff, #74e1ff);
            background-clip: text;
            color: transparent;
            letter-spacing: 5px;
            font-family: serif;
        }
    }
    .content {
        height: calc(100% - 80px);
        display: flex;
        gap: 16px;
        .left {
            flex: 1;
            background-color: #74e1ff;
            >div{
                height: ;
            }
        }
        .right {
            flex: 3;
        }
    }
}
