.index {
    width: 100vw;
    height: 100vh;
    background: #0f293b;
    .header {
        height: 80px;
        background: url("./images/大标题.svg") no-repeat;
        background-size: contain;
        display: flex;
        justify-content: center;
        align-items: center;
        .companyName{
            font-size: 26px;
            background-image: linear-gradient(45deg, #D7F8FF, 74E1FF);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
        }
    }
}
