.index {
    width: 100vw;
    height: 100vh;
    background: #0f293b;
    .header {
        height: 80px;
        background: url("./images/大标题.svg") no-repeat;
        background-size: 100% 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        .companyName {
            font-size: 26px;
            background-image: linear-gradient(to bottom, #d7f8ff, #74e1ff);
            background-clip: text;
            color: transparent;
        }
    }
    .content{
        height: calc(100% - 80px);
        display: flex;
        .left{
            fl
        }
    }
}
