body{
    margin: 0;
    padding: 0;
}

.ant-menu{
    background-color: unset;
}

.ant-menu-light.ant-menu-inline .ant-menu-sub.ant-menu-inline, :where(.css-dev-only-do-not-override-1sn0ohr).ant-menu-light>.ant-menu.ant-menu-inline .ant-menu-sub.ant-menu-inline{
    background-color: unset;
}

.ant-btn-default:not(:disabled):not(.ant-btn-disabled):hover{
    color: unset;
}

:where(.css-dev-only-do-not-override-16onjrp).ant-select:not(.ant-select-customize-input) .ant-select-selector{
    background: #0077B4;
    border: none;
    color: white;
}

:where(.css-dev-only-do-not-override-16onjrp).ant-select .ant-select-arrow{
    color: white;
}

@font-face{
    font-family:electronicFont;
    src:url(/font/DS-DIGIT.TTF)
}

@font-face{
    font-family: DingTalkSansFont;
    src:url(/font/Ding-Talk-Sans.TTF)
}