.overview {
    height: 100%;
    width: 100%;
    .heard {
        height: 60px;
        // width: 100%;
        margin-bottom: 8px;
        font-family: PingFangSemiblod;
        font-size: 24px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .overContent {
        overflow:auto;
        &::-webkit-scrollbar{
            display: none;
        }
        .electric {
            grid-area: electric;
            .elewrap {
                width: 100%;
                height: 100%;
                display: grid;


                .item {
                    padding: 20px 20px;
                    width: 100%;
                    text-align: center;
                    overflow: hidden;
                    text-overflow: ellipsis !important;
                    white-space: nowrap;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    .itemTitle {
                        text-wrap: balance;
                        color: #666666;
                        margin-top: 20px;
                        font-size: 16px;
                        height: 44px;

                    }

                    .itemValue {
                        // height: calc(100% - 22px);
                        overflow: hidden;
                        text-overflow: ellipsis !important;
                        white-space: nowrap;

                    }

                    .itemUnit {
                        font-size: 14px;
                        height: 10%;
                        line-height: 100%;
                    }
                }

            }
        }

        .running {
            grid-area: running;

            .runningWrap {
                width: 100%;
                height: 100%;
                display: grid;
                grid-template-rows: 1fr 1fr;
                gap: 8px 8px;
                .realPower {
                    font-size: 16px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: #666666;
                    .label {
                        font-family: PingFangSemiblod;
                    }
                    .value {
                        font-size: 24px;
                        color: #03B4B4;
                        // line-height: 120%;
                    }

                    .unit {
                        font-size: 14px;
                        height: 10%;
                        line-height: 100%;
                    }
                }

                .realStaus {
                    padding: 20px 20px;
                    display: flex;

                    div {
                        width: 100%;
                        height: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        .value {
                            font-size: 24px;
                            margin-left: 15px;
                        }
                    }

                    div:nth-child(2) {
                        border-left: 1px solid #E6E9F2;
                        border-right: 1px solid #E6E9F2;
                    }
                }
            }
        }

        .profit {
            grid-area: profit;

            .profitWrap {
                width: 100%;
                height: 100%;
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-template-rows: 1fr 1fr;
                gap: 8px 8px;

                .itemProfit {
                    padding: 15px 15px;
                    width: 100%;
                    font-size: 16px;
                    overflow: hidden;
                    text-overflow: ellipsis !important;
                    white-space: nowrap;

                    .titleProfit {
                        overflow: hidden;
                        text-overflow: ellipsis !important;
                        white-space: nowrap;
                    }

                    .valueProfit {
                        font-size: 24px;
                        margin-top: 10px;
                        font-size: 16px;
                    }
                }
            }
        }

        .charge {
            grid-area: charge;
            min-height: 200px;
            .chargeWrap {
                width: 100%;
                height: 100%;
            }
        }

        .chargebit {
            grid-area: chargebit;

            .chargebitWrap {
                width: 100%;
                height: 100%;
            }
        }

        .profitAll {
            grid-area: profitAll;

            .profitAllWrap {
                width: 100%;
                height: 100%;
            }
        }

        .chargAndDischarg {
            grid-area: chargAndDischarg;

            .chargAndDischargWrap {
                width: 100%;
                height: 100%;
            }
        }

        .alarm {
            grid-area: alarm;

            .alarmWrap {
                width: 100%;
                height: 100%;
            }
        }
    }
}

@media screen and (min-width: 2000px) {
    .itemValue {
        font-size: 24px;

    }

    .itemTitle {
        font-size: 16px;
        margin-bottom: 10px;
    }
.elewrap{
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr ;
}
}

@media screen and (min-width: 1000px) and (max-width: 2000px) {
    .itemValue {
        font-size: 20px;
    }

    .itemTitle {
        font-size: 14px;
        margin-bottom: 8px;
    }
    .elewrap{
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr ;
        grid-template-rows: 1fr  ;

    }
}

@media screen and (max-width: 1000px) {
    .itemValue {
        font-size: 20px;
    }

    .itemTitle {
        font-size: 14px;
        margin-bottom: 5px;

    }
    .elewrap{
        grid-template-columns: 1fr   1fr;
        grid-template-rows: 1fr 1fr 1fr  ;

    }
}