.container {
    height: 100%;
    .header {
        height: 80px;
        background: #f5f9fe;
        border-radius: 8px;
        margin-bottom: 8px;
    }
    .content {
        height: calc(100% - 80px);
        display: flex;
        gap: 8px;
        .left,
        .right {
            height: 100%;
        }
        .left {
            width: 70%;

            .map {
                height: 60%;
            }
            .plantKPI {
                height: 88px;
                margin: 8px 0;
            }
            .PowerGeneration {
                height: calc(40% - 88px);
            }
        }
        .right {
            width: 30%;
            .flowchart {
                height: 45%;
            }
            .socialContribution {
                height: 150px;
                margin: 8px 0;
            }
            .plantAlarm {
                height: calc(55% - 150px);
            }
        }
    }
}
