.baseLayout{
    width: calc(100vw);
    height: calc(100vh);

    .layout{
        width: 100%;
        height: 100%;
        
        .header{
            padding-inline: 24px;
            height: 88px;
            background-color: white;
            display: flex;
            justify-content: space-between;
            align-items: center;
            position: relative;
            // box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;      
             .title{
                margin: 0;
                line-height: 39px;
                font-family: PingFangSemiblod;
            }
        }

        .content{
            padding: 10px 10px 0 10px;
            width:calc(100% - 240px) ;
            .inContent{
                // border-radius: 15px;
                width: 100%;
                height: 100%;
                font-family: PingFangRegular;
                position: relative;
                &::-webkit-scrollbar{
                    display: none;
                }
            }
        }
    }
}
@media screen and (min-width: 2000px) {
    .title{
        font-size: 32px;
    }
   
}

@media screen and (min-width: 1000px) and (max-width: 2000px) {
    .title{
        font-size: 28px;
    }
   
}

@media screen and (max-width: 1000px) {
    .title{
        font-size: 24px;
    }
   

}