.baseLayout {
    width: calc(100vw);
    height: calc(100vh);

    .layout {
        width: 100%;
        height: 100%;
        .header {
            padding: 24px;
            background-color: white;
            display: flex;
            justify-content: space-between;
            align-items: center;
            background: white;
            box-shadow: 0 4px 8px 0 hsla(0, 0%, 68.2%, 0.2);
            z-index: 1;
            .logo {
                width: 143px;
                height: 15px;
                margin-right: 20px;
            }
            .title {
                margin: 0;
            }
        }

        .sider {
            background: white;
            padding: 24px 0;

            .siderContent {
                height: 100%;
                width: 100%;
                overflow-y: scroll;
                &::-webkit-scrollbar {
                    display: none;
                }
            }
        }

        .content{
            padding: 24px;

            .inContent{
                background-color: white;
                border-radius: 15px;
                width: 100%;
                height: 100%;
                padding: 24px;
                overflow-y: scroll;
                &::-webkit-scrollbar{
                    display: none;
                }
            }
        }
    }
}
