@media (max-width: 1800px) {
    .img {
        width: 30px !important;
    }
    .value{
        
    }
    .label {
        font-size: 13px !important;
    }
}

.value {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
