.abnormal {
    padding: 10px;
    box-sizing: border-box;
}

.detailed {
    .search {
        flex-wrap: wrap;
        margin-bottom: 20px;
        margin-left: 10px;
    }
}

.images{
    padding-top: 30px;
}