@media (max-width: 1800px) {
    .media-icon {
        width: 27px !important;
        height: 27px !important;
    }
    .value {
        font-size: 30px !important;
    }
    .name {
        font-size: 15px !important;
    }
}

@media (min-width: 1800px) {
    .media-icon {
        width: 45px !important;
        height: 45px !important;
    }
    .value {
        font-size: 30px !important;
    }
    .name {
        font-size: 15px !important;
    }
}
