.card{
    background-color: white;
    padding: 25px 30px;
    border-radius: 8px;
    .cardTitle{
        margin-bottom: 15px;
    }
    .cardBottom{
        display: flex;
        justify-content: space-between;
        .cardBottomItem{
            .cardBottomItemTop{
                margin-bottom: 5px;
            }
            .cardBottomItemBottom{
                .cardBottomItemBottomValue{
                    font-size: 25px;
                    margin-right: 5px;
                    font-weight: 600;
                }
                .cardBottomItemBottomUnit{
                    color: #c1c2c8;
                }
            }
        }
    }
}